input[type="text"], input[type="email"], textarea {
    font-family: 'Merriweather', serif;
    font-size: 1rem;
}

/*main list of goods*/
.product-card-mainlist {
    position: relative;
    padding: 10px;
    width: 255px;
    border: 1px solid silver;
    border-radius: 10px;
    height: 430px;
    box-shadow: 1px 1px 2px 0px rgba(196,184,196,1);
    background-color: white;
}

.image-product-mainlist {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.prod-name-mainlist {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    margin: 0.5rem 0;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;
    border-top: 1px solid lavender;
    border-bottom: 1px solid lavender;
}

.prod-name-mainlist a {
    text-decoration: none;
    color: #5E5C5C;
}

.prod-rating-mainlist {
    display: block;
    text-align: start;
    padding-left: 15px;
}

.prod-price-mainlist {
    --text-price-font-size: 1.4rem;
    display: block;
    text-align: start;
    font-weight: bold;
    font-size: var(--text-price-font-size);
    padding-left: 15px;
}

.promo {
    display: inline-flex;
}

.default-price {
    display: block;
    font-size: var(--text-price-font-size);
    color: rgb(0, 0, 0);
}

.promo-price {
    display: block;
    color: red !important;
    line-height: 18px;
}

.strikethrough-text { 
    text-decoration: line-through; 
    font-size: calc(var(--text-price-font-size) - 0.3rem);
    color: #696969;
}

.prod-rating-mainlist [id^='star'] {
    font-size: 25px;
}

.prod-fav-mainlist {
      position: relative;
      margin-right: 10px;
      cursor: pointer;
}

.prod-fav-mainlist svg {
    fill: red;
    color: red;
}


/*Filters on the main page*/
.filter-prod-column {
    padding: 10px;
    width: 28% !important;
    min-width: 250px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    border-right: 0;
    border-top-right-radius: 0;
}

#filters-prod { cursor: pointer; }

.prod-list-column {
    width: 100%;
    border-bottom: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    border-radius: 10px;
}

.filter-header {
    display: flex;
    justify-content: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.2rem;
    margin: 0.5rem 0;
    padding-bottom: 0.8rem;
}

.filter-header .material-symbols-outlined {
    margin-right: 5px;
    align-self: center;
}

.title-filters {
    position: relative;
    display: block;
    text-align: center;
    font-family: Georgia, Garamond, serif;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    border: 1px solid #ced4da;
    background-color: #e2f2e2;
}

.title-filters .material-symbols-outlined {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 5px;
}

.check-field-filter {
    cursor: pointer;
    margin: 0 0.5rem;
}

.filter-items {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    font-family: 'Merriweather', serif;
}

.filter-items .material-symbols-outlined {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adjust-min-price, .adjust-max-price {
    display: flex;
    flex-direction: column;
    align-self: center;
    border: 1px solid #ced4da;
    width: 20px;
    border-radius: 10px;
}

.min-price, .max-price {
    text-align: center;
    width: 85px;
    border-radius: 5px;
    border: 1px solid;
}

.max-price { margin-right: 5px ;}
.min-price { margin-left: 5px ;}

.form-check-filter {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

.form-label-filter { display: inline; }

.form-field-filter { display: inline; }

.category-prop-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    padding: 0.3rem 0;
    border-bottom: 1px solid #ced4da;
    border-top: 1px solid #ced4da;
}

.prop-name {
    display: block;
    text-align: end;
    text-shadow: #5E5C5C;
    font-size: 0.7rem;
    margin-top: 5px;
    text-decoration: underline;
}

.count-items-filter {
    display: inline-block;
    margin-left: 0.5rem;
    font-size: 0.9rem;
    color: #898383;
}

.filter-apply-btn, .filter-reset-btn {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 0.8rem;
    border: 1px solid;
    border-radius: 8px;
}

.filter-apply-btn .material-symbols-outlined, .filter-reset-btn .material-symbols-outlined {
    margin-right: 5px;
}

.filter-apply-btn {
    background-color: #3370da;
    color: white;
    border-color: black;
}

.filter-apply-btn:hover {
    background-color: #1b4da2;
}

.filter-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
}


.cat-header {
    font-family:'Comic Sans MS';
    margin: 10px 1rem;
}

.mainlist-header {
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    margin: 1rem 0;
}

/*tabs on the top of the goods list*/
.prod-navs a {
    color: #696969;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Exo 2', sans-serif !important;
    border-bottom: 0;
    padding: 5px 5px 5px 5px;
    line-height: inherit;
}

.prod-navs a:visited { color: maroon;}

.prod-navs { min-width: 490px; }

.mainlist-row {
    display: flex;
    background-color: #eff4f9;
    margin: 1rem;
    border-radius: 10px;
    min-width: 740px;
}

.back-link-main {
    display: flex;
    align-items: center;
    color: green;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    margin-right: 0.5rem;
}

/*Sorting products*/
.sorting { padding: 5px 0px 5px 5px; }

.sorting label {
    font-weight: bold;
    font-size: 15px;
}

.sorting-select {
    width: auto;
    height: 30px;
    padding: 2px 5px;
}

/*container with product's properties*/
#prod-props {
    display: flex;
    flex-direction: column;
    width: 75%;
    font-family: Georgia, Garamond, serif;
    border: 1px solid rgb(216, 213, 213);
    padding: 0 !important;
    margin: 20px auto 20px auto;
    min-width: 700px;
    background-color:#eff4f9;
}

.property-header{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0.5rem 0;
    background-color: darkgray;
}

.properties-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border-bottom: 1px solid rgb(216, 213, 213);
}

.property-name {
    display: inline-block;
    width: 20%;
    font-size: 1.1rem;
}

.property-value {
    display: block;
    width: 35%;
    text-align: center;
}

.headers-detail {
    font-family: 'Oswald', sans-serif;;
    text-align: center;
    margin: 15px auto 15px auto;
    padding: 10px 0;
    font-weight: bold;
    font-size: 30px;
    background-color: rgba(51,84,175,1);
    color:#d9d4d4;
    
}

/*New products list*/
.navs-product-list {
    margin: 1rem;
    background-color: #eff4f9;
    border-color: #ced4da !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*Comments*/
.block-comments-row {
    display: flex;
    width: 100%;
    min-width: 1025px;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

.posted-comments-block {
    min-width: 1020px;
    max-width: 1020px;
}

.comments-column {
    width: 52%;
    min-width: 650px;
    padding: 1rem;
    background-color: #eff4f9;
    margin: 1.5rem 1rem;
    border: solid 1px rgb(216, 213, 213);
    border-radius: 10px;
}

.count {
    font-size: 1.5rem;
    font-family: 'Exo 2', sans-serif;
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #E1DADA;
}

.userinfo {
	display: flex;
    width: 180px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(236, 225, 225);
    border-radius: 35px;
}

.username {
    display: inline;
    margin: 5px;
    padding: 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
}

.userphoto {
    display: inline;
    margin: 5px;
}

.userphoto img {
    width: 35px;
    height: 35px;
    margin: 5px;
}

.comment-like-unlike-block {
    display: flex;
    align-items: center;
    padding: 5px;
}

.filled {
    --filled-thumb: 1;
}

.unfilled {
    --unfilled-thumb: 0;
}

/*thumb up/thumb down icons style*/
.material-symbols-outlined {
    font-variation-settings:
    'FILL' var(--filled-thumb),
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

/*thumb up icon*/
.comment-like-unlike-block > span:nth-child(1) {
    margin-right: 10px;
    cursor: pointer;
}

.comment-like-unlike-block [id^='likes-count-'] {
    margin-right: 10px;
}

/*thumb down icon*/
.comment-like-unlike-block > span:nth-child(3) {
    margin-right: 10px;
    cursor: pointer;
}

.comment-like-unlike-block [id^='unlikes-count-'] {
    margin-right: 10px;
}

.comment-body {
    margin: 20px 0;
    padding: 20px;
    border: solid 1px rgb(236, 225, 225);
    border-radius: 8px;
    background-color: white;
}

.dialog-rate-comment-titlebar {
    width: calc(300px - 0.5em);
    height: 30px;
    padding: 5px !important;
    background: gainsboro;
    border-radius: 3px;
}

.dialog-rate-comment-content {
    font-size: 0.8rem;
    padding: 1px !important;
    display: block;
    text-align: center;
    line-height: initial;
}

.dialog-rate-comment-title {
    color: grey;
    font-size: 0.8rem;
    display: block;
    text-align: center;
    margin: 0 !important;
}

.date {
    font-family: 'Bradley Hand';
    font-size: 14px;
    padding: 5px;
    font-style: italic;
    text-decoration: underline;
    position: relative;
    display: flex;
    justify-content: end;
}

.comment-text p {
    font-family: 'Brush Script Std';
    font-size: 18px;
    margin: 0.5rem;
    margin-left: 4rem;
    padding-top: 1rem;
    text-indent: 2rem;
    min-width: 500px;
    border-top: 1px solid #eee3e3;
    border-bottom: 1px solid #eee3e3;
    text-align: justify;
    padding-bottom: 1rem;
    display: flex;
}

.comment-text { min-width: 500px; }

.show-comments, .hide-comments {
    display: inline;
    position: relative;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    color: #696969;
}

.hide-comments { display: none;}

.show-comments:hover, .hide-comments:hover { color: #F3B539; }


.expand-comm { margin-bottom: 0; }

.collapse-comm { display: none;}

/*Form for writing comment*/
#form-comment {
    display: block;
    width: 400px;
    margin: auto;
    min-height: 175px;
}

.post-comment {
    position: relative;
    padding: 1rem;
    margin: 1.5rem 1rem;
    background-color: #eff4f9;
    border: solid 1px rgb(216, 213, 213);
    border-radius: 10px;
    width: 30%;
    min-width: 650px;
}

.post-comment h4 {
    display: block;
    font-family: 'Exo 2', sans-serif;
    margin-bottom: 35px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: solid 1px #E1DADA;
}

.post-comment > div {
    display: flex;
    justify-content: end;
}

.comment-label {
    font-family: 'Merriweather', serif;
    font-size: 1rem;
}

.comment-form-fields { margin: 20px 0; }

.comment-form-captcha {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 50px;
}

.captcha-required {
    font-family: 'Merriweather', serif;
    margin-right: 60px;
    font-size: 1.1rem;

}

.captcha-image img {
    border: 1px solid grey;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 8px;
}

.help-captcha { width: 135px !important; }

.help {
    font-style: italic;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    width: 160px;
    position: relative;
    margin: 5px 0;
    color:rgb(84, 82, 82);
}

.comment-field-captcha {
    height: 50px;
    padding-left: 10px;
    border-radius: 5px;
    width: 188px;
    border: 1px solid grey;
}

.comment-field {
    border-radius: 5px;
    border: 1px solid #898383;
    width: 250px;
    padding-left: 10px;
    float: right;
}

.comment-field-area {
    border-radius: 5px;
    border: 1px solid #898383;
    padding-left: 10px;
    max-height: 100px;
    margin-left: 148px;
    margin-top: -18px;
    width: 250px;
}

.send-comment-btn {
    display: flex;
    align-items: center;
    background-color: #568EED;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    border: 1px solid;
    height: 40px;
    align-self: center;
    margin-top: 15px;
}

.send-comment-btn .material-symbols-outlined { margin-right: 10px; }

.send-comment-btn:hover { background-color: #3370da; }

/*Tabs on the top of the detail info about a product*/
.nav-tabs {
    height: 40px;
    max-width: calc(860px + 275px);
    min-width: 750px;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.nav-item {
    display: inline-block;
    height: 40px;   
    border: 1px solid rgb(216, 213, 213);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: calc(100% / 3);
    background-color:#eff4f9;
}

.nav-link {
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-family: 'Exo 2', sans-serif !important;
    color: #312f2f !important;
    height: 40px;
    font-size: 18px !important;
    padding: 5px 10px !important;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode';
    line-height: initial;
}

.nav-link:hover {
     background-color: rgba(17, 185, 40, 1) !important; 
     color: white !important;
}

.active-nav {
    background-color: rgba(17, 185, 40, 1);
    color: white !important;
    border: 1px solid grey;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

.nav-link .material-symbols-outlined { margin-right: 10px; }

.product-name-detail {
    display: inline-block;
    position: relative;
    margin: 20px 0;
    left: 240px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
}

.product-card-mainlist [id^="add-to-cart-"] {
    display: flex;
    align-items: center;
    position: relative;
    height: 40px;
    width: auto;
    font-weight: 500;
    font-size: 20px;
    border: grey solid 1px;
    border-radius: 8px;
    padding: 5px 10px;
}

.product-card-mainlist [id^="add-to-cart-"]:hover { background-color: #b8bfbf; }

.prod-buttons [id^="add-to-cart-"] {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightyellow;
    width: 100px;
    height: 29.5px;
    font-weight: 500;
    border: grey solid 1px;
    border-radius: 8px;
    padding: 5px 10px;  
    margin-left: 15px;
}

.prod-buttons [id^="add-to-cart-"]:hover {
    background-color: #f0f0f0;
}

.qnty-field {
    width: 50px;
    text-align: center;
    font-weight: bold;
    border: 1px solid;
    border-radius: 5px;
}

.add-to-favorite {
    display: flex;
    justify-content: center;
    background-color: #97C4F0;
    height: 35px;
    width: 165px;
    align-items: center;
    padding: 5px;
    border: #6F7173 solid 1px;
    border-radius: 10px;
}

.add-to-favorite .bi { margin-right: 15px; }

.add-to-favorite a { 
    font-family: 'Exo 2', sans-serif; 
    font-weight: 500;
    font-size: 1.1rem;
}

.add-to-favorite:hover { background-color: #5E7FD9; }

.add-to-favorite a {
    text-decoration: none;
    color: white;;
    border: none;
}

.add-to-favorite a:hover { background-color: #5E7FD9; }

.add-to-favorite svg { fill: red; }

.promo-prod-pic {
    position: absolute;
    color: white;
    background-color: rgb(223, 74, 74);
    padding: 5px;
    border-radius: 8px;
    top: 5px;
    left: 5px;
}

.promo-prod-pic h4 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0;
}

#rating-form select { width: 92px; }

.prod-rating-detail {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

.current-rating-digits {
    display: inline;
    color: grey;
    font-size: 1.1rem;    
}

.current-rating-stars {
    display: flex;
    margin-right: 15px;
}

.prod-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 60px;
    bottom: 0px;
    min-width: 200px;
}

.buttons-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 260px;
    width: 16% !important;
    padding: 15px;
    border: 1px solid rgb(216, 213, 213);
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
    background-color: #eff4f9;
}

.photos-column {
    width: 77% !important;
    min-width: 460px;
    border-left: 1px solid rgb(216, 213, 213);
    border-bottom: 1px solid rgb(216, 213, 213);
    border-bottom-left-radius: 10px;
    background-color: #eff4f9;
    padding: 15px;
}

.top-info-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 15px 15px 15px;
    justify-content: start;
    max-width: calc(860px + 260px + 15px);
}

.prod-add-form-detail {
    display: flex;
    margin: 0.5rem 0;
}

.prod-price-detail {
    font-size: 1.8rem;
    margin-top: 15px;
    font-family: 'Exo 2', sans-serif;
}

.promo-prod-pic-detail {
    font-family: 'Montserrat', sans-serif;
    border: 1px solid;
    color: white;
    background-color: rgb(223, 74, 74);
    padding: 5px 10px;
    border-radius: 10px;
    width: 165px;
    margin-top: 20px;
}

.promo-prod-pic-detail h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
}

.tip {
    color: red;
    border: 1px solid;
    width: 135.5px;
    background-color: white;
    text-align: center;
}