{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate 'Page Not Found' %} (404) | OnlineShop{% endblock %}

{% block styles %}
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="page404-content">
            <img src="{% static 'img/404_not_found.png' %}" alt="">
            <div class="err-message">
               {% translate 'Page Not Found' %}
            </div>
            <div class="additional-err-text">
                {% translate 'The page you are looking for does not exist or another error occurred.' %}
                {% translate 'Go to the' %} <a href="{% url 'goods:product_list' %}">{% translate 'Home Page' %}</a>.
            </div>
        </div>
    </div>
{% endblock %}
