<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Server Error (500) | OnlineShop</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,300,0,0" />
</head>
<body>
    <div class="err-content">
        <div class="container">
            <div class="page500-content">
                <div class="err-code">500</div>
                <div class="err-message">
                    Internal Server Error
                </div>
                <div class="additional-err-text">
                    Sorry, something went wrong our end. We are currently trying to fix the problem.
                    In the meantime you can:
                    <ul>
                        <li>
                            <span class="material-symbols-outlined">refresh</span>
                            Refresh this page
                        </li>
                        <li>
                            <span class="material-symbols-outlined">schedule</span>
                            Wait a few minutes
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



