server {
        # not secure protocol with redirection to ssl protocol
        listen 80;
        server_name ${DOMAIN} www.${DOMAIN};

        # directory for searching challenge file for complete authentication
        location /.well-known/acme-challenge/ {
            root /vol/www/;
        }

        location / {
            return 301 https://$host$request_uri;
        }
    }