{% extends 'base.html' %}
{% load static %}
<!--Шаблон для отображения новых товаром на сайте-->
{% block title %}New products | OnlineShop{% endblock %}

{% block content %}
<span class="d-flex justify-content-center">
    <h3 class="cat-header">New products</h3>
</span>
    <div class="col border m-2 shadow-sm">
        <div class="row h-100">
            <div class="col m-3">
                {% for product in products %}
                    {% include 'goods/product/card.html' with product=product %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center my-2">
            {% include 'paginator.html' with place='new_list' %}
        </div>
    </div>
{% endblock %}