{% extends 'base.html' %}
{% load static %}
<!--Шаблон для отображения популярных товаров на сайте-->
{% block title %}Popular products{% if category_name %}: {{ category_name }}{% endif %} | OnlineShop{% endblock %}

{% block content %}
    <span class="d-flex justify-content-center">
    <h3 class="cat-header">Popular {% if category_name %}{{ category_name }}{% else %} products {% endif %}</h3>
    </span>
    <div class="col m-2 border shadow-sm">
        <div class="row h-100">
            <div class="col m-3">
                {% for product in products %}
                    {% include 'goods/product/card.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center my-2">
            {% include 'paginator.html' with place='popular_list' %}
        </div>
    </div>
{% endblock %}