{% extends 'base.html' %}
{% load static %}
{% load cut_fraction_part %}
{% load i18n %}

{% block title %} {{ product.name }} | OnlineShop{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/goods.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock %}
{% block content %}
    <h1 class="product-name-detail">{{ product.name }}</h1>
    <div class="container-fluid" style="padding: 15px 0 !important;">
        <ul class="nav nav-tabs">
            <li class="nav-item" style="border-right: 0 !important;">
                <a class="nav-link" href="#specification">{% translate 'Specifications' %}</a>
            </li>
            <li class="nav-item" style="border-right: 0 !important;">
                <a class="nav-link" href="#comments">{% translate 'Comments' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#full-information">{% translate 'Additional information' %}</a>
            </li>
        </ul>
        <div class="top-info-row">
            <div class="photos-column">
                <!--Displaying 2 photos in a big resolution-->
                {% with photos=product.get_all_product_photos %}
                    {% if photos %}
                        {% for photo in photos %}
                            <img src="{% get_media_prefix %}products/product_{{ product.name }}/Detail_photos/{{ photo }}" width="400" height="400"/>
                        {% endfor %}
                    {% else %}
                        {% for i in '12'|make_list %}
                            <img class="d-inline" src="{% static 'img/no_image_product_detail.jpg' %}" width="400" height="400">
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="buttons-column">
                <!--Adding product to favorite-->
                <div class="prod-buttons">
                    <div class="d-block my-2 p-1">
                        <div class="add-to-favorite">
                            {% with in_favorite=is_in_favorite %}
                                {% if in_favorite %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                    </svg>
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523
                                                     1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357
                                                      3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878
                                                       10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824
                                                        1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                    </svg>
                                {% endif %}
                                <a id="add-rem-fav" role="button"
                                   data-url="{% url 'goods:add_or_remove_product_favorite' %}"
                                   data-pk="{{ product.id }}">{% translate 'Favorite' %}
                                </a>
                                <input type="hidden" name="action" value="add">
                            {% endwith %}
                        </div>
                    </div>
                    <!--Form for adding product to cart-->
                    <form id="add-form-{{ product.id }}" class="prod-add-form-detail" method="post">
                        {% csrf_token %}
                        {{ quantity_form.quantity }}
                        <input type="hidden" name="url" value="{% url 'cart:cart_add' %}">
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <button id="add-to-cart-{{ product.id }}" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart3"
                                 viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1
                                            .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5
                                            0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479
                                            9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0
                                            0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1
                                            1 0 0 1 0-2z" />
                            </svg>
                        </button>
                    </form>
                    <!--Products rating-->
                    <div class="prod-rating-detail">
                        <form id="rating-form"
                              data-url="{% url 'goods:set_product_rating' %}"
                              data-pk="{{ product.pk }}" method="post">
                            {% csrf_token %}
                            {{ rating_form.star }}
                        </form>
                        <!--Displaying rating in a stars form-->
                        <div class="current-rating-stars">
                            {% include 'rating_stars.html' %}
                        </div>
                        <div class="current-rating-digits">
                            ( {{ product.rating|floatformat:1 }} )
                        </div>
                    </div>
                    {% if product.promotional %}
                        <div class="promo-prod-pic-detail">
                            <h4>{% translate 'Promo' %}</h4>
                        </div>
                    {% endif %}
                    <!--Product price-->
                    <div class{% if product.promotional %}="prod-price-detail promo" {% else %}="prod-price-detail" {% endif %}>
                        {% if product.promotional %}
                            <div class="two-prices">
                                <span class="default-price strikethrough-text">${{ product.price }}</span>
                                <span class="promo-price">${{ product.promotional_price }}</span>
                            </div>
                            {% else %}
                                <span class="default-price">${{ product.price }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!--Product properties-->
        <h4 id="specification" class="headers-detail">{% translate 'Specifications' %}</h4>
        <div id="prod-props" class="container">
            {% for property in properties %}
                <div class="props-block">
                    {% ifchanged %}
                        <div class="property-header">
                            {{ property.category_property.name }}
                        </div>
                    {% endifchanged %}
                    <div class="properties-body">
                        <div class="property-name">
                            {{ property.name }}
                        </div>
                        <div class="property-value">
                            {% if property.detail_description %}
                                {{ property.detail_description|safe }}
                            {% elif property.text_value %}
                                {{ property.text_value }} {{ property.units }}
                            {% elif property.numeric_value %}
                                {{ property.numeric_value|cut_fraction }} {{ property.units }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!--Comments-->
        <h4 id="comments" class="headers-detail">{% translate 'Comments' %}</h4>
        <div class="container-fluid">
            <div class="block-comments-row">
                <div class="comments-column">
                    {% with comments.count as total_comments %}
                    <h5 class="count">
                        {% blocktranslate with total_comments=total_comments %}
                            Comments ( {{ total_comments }} )
                        {% endblocktranslate %}
                    </h5>
                        {% for comment in comments %}
                            <div id="comment-pk-{{ comment.pk }}" class{% if forloop.counter == 1 and total_comments >= 1 %}="comment-body expand-comm"{% else %}="comment-body collapse-comm"{% endif %}>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="userinfo">
                                        <div class="username">{{ comment.user_name }}</div>
                                        <div class="userphoto">
                                            <img src="{% if comment.profile.photo %}{{ comment.profile.photo.url }}{% else %}{% static 'img/no_user_photo.jpg' %}{% endif %}"/>
                                        </div>
                                    </div>
                                    <div data-url="{% url 'goods:like_unlike_comment' %}" class="comment-like-unlike-block">
                                        <!--if comment was set by current profile as like-->
                                        {% if comment.pk in profile_rated_comments.liked_comments %}
                                            <span class="material-symbols-outlined filled" id="like-{{ comment.pk }}">thumb_up</span>
                                        {% else %}
                                            <span class="material-symbols-outlined unfilled" id="like-{{ comment.pk }}">thumb_up</span>
                                        {% endif %}

                                        <span id="likes-count-{{ comment.pk }}">({{ comment.profiles_likes.count }})</span>
                                        <!--if comment was set by current profile as dislike-->
                                        {% if comment.pk in profile_rated_comments.unliked_comments %}
                                            <span class="material-symbols-outlined filled" id="unlike-{{ comment.pk }}">thumb_down</span>
                                        {% else %}
                                            <span class="material-symbols-outlined unfilled" id="unlike-{{ comment.pk }}">thumb_down</span>
                                        {% endif %}

                                        <span id="unlikes-count-{{ comment.pk }}">({{ comment.profiles_unlikes.count }})</span>
                                    </div>
                                </div>
                                <span class="date">{{ comment.created|date:"l, d/m/Y" }}</span>
                                <div class="comment-text">
                                    <p>{{ comment.body }}</p>
                                </div>
                            </div>
                            {% if forloop.counter == 1 and total_comments > 1 %}
                                <div class="show-comments">{% translate 'Show all comments' %}</div>
                            {% elif forloop.counter == total_comments %}
                                <div class="hide-comments">
                                    {% blocktranslate count total=total_comments|add:-1 %}
                                        Hide {{ total }} comment
                                    {% plural %}
                                        Hide {{ total }} comments
                                    {% endblocktranslate %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                </div>
                <!--Post new comment-->
                <div class="post-comment">
                    <h4>{% translate 'New comment' %}</h4>
                    <form id="form-comment" method="post">
                        {% csrf_token %}
                        {% for field in comment_form %}
                            {% if field.label != 'Captcha' %}
                                <div class="comment-form-fields">
                                    <label class="comment-label" for="{{ field.id_for_label}}">{{ field.label }}
                                        {% if field.field.required %}<span class="required-field">*</span>{% endif %}
                                    </label>
                                    {{ field }}
                                </div>
                                <ul class="errorlist">
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endfor %}
                        <div class="comment-form-captcha">
                            <div class="captcha-image">
                                <img data-url="{% url 'update_captcha' %}"
                                     src="data:image/png;base64,{{ captcha_image }}"
                                     data-width="135" data-height="60" data-font-size="30"
                                     alt="captcha">
                                <p class="help help-captcha">{% translate 'All letters in lower case. For update the captcha click on the image' %}</p>
                            </div>
                            {% if comment_form.captcha.field.required %}
                                <span class="required-field captcha-required">*</span>
                            {% endif %}
                            <div>
                                {{ comment_form.captcha }}
                                <ul class="errorlist">
                                    {% for error in comment_form.captcha.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </form>
                    <div>
                        <button type="submit" form="form-comment" class="send-comment-btn">
                            <span class="material-symbols-outlined">send</span>
                            {% translate 'Send comment' %}
                        </button>
                    </div>
                </div>
            </div>
            <h4 id="full-information" class="headers-detail">{% translate 'Additional information' %}</h4>
            {{ product.description|safe }}
            <script src="{% static 'js/set_product_rating.js' %}"></script>
            <script src="{% static 'js/add_to_cart.js' %}"></script>
            <script src="{% static 'js/add_remove_favorite.js' %}" type="module"></script>
            <script src="{% static 'js/like_unlike_comment.js' %}" type="module"></script>
            <script src="{% static 'js/collapse_expand_comments.js' %}"></script>
            <script src="{% static 'js/update_captcha.js' %}" type="module"></script>
        </div>
    </div>
{% endblock %}