{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}OnlineShop{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,300,0,0" />
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/goods.css' %}">
{% endblock %}
{% block content %}
<main id="main-list">
    <h3 class="mainlist-header">{% translate 'Online Shop products' %}</h3>
    <div class="container-md">
        <div class="mainlist-row">
            <div class="filter-prod-column">
                {% if category %}
                    {% include 'filters_menu.html' %}  <!--Adding left side panel with filters-->
                {% endif %}
            </div>
            <div class="prod-list-column">
                {% include 'products_navs.html' with category=category %}
                <div class="d-flex justify-content-between pb-1 my-2">
                    <div class="breadcrumbs"></div>
                    {% include 'sorting.html' with place=place %} <!--template with dropdown menu for sorting products-->
                </div>
                <div class="d-inline-flex flex-wrap mx-4 mb-4 p-2" style="gap: 55px;">
                    {% for product in products %}
                        {% include 'goods/product/card.html' with product=product %}
                    {% empty %}
                        {% if place == 'mainlist' %}
                            <div class="d-flex justify-content-center">
                                <h4>There are no results for your query <b>"{{ request.GET.query }}"</b></h4>
                            </div>
                        {% elif place == 'filter_list'%}
                            <div class="d-flex justify-content-center">
                                <h4>There are no results by passed filter parameters</h4>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <!--Pagination-->
                {% if is_paginated %}
                    <div class="row">
                        <div class="d-flex justify-content-center py-2 px-0 w-100">
                            {% include 'paginator.html' with place=place sorting=is_sorting %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/slide_filters.js' %}"></script>
    <script src="{% static 'js/ordering_products.js' %}"></script>
    <script src="{% static 'js/add_to_cart.js' %}"></script>
    <script src="{% static 'js/add_remove_favorite.js' %}" type="module"></script>
    <script src="{% static 'js/collapse_expand_filter_items.js' %}"></script>
    <script src="{% static 'js/up_down_price_values_filter.js' %}"></script>
    <script src="{% static 'js/nav_tab_as_active.js' %}"></script>
</main>
{% endblock %}