{% extends 'base.html' %}
{% load static %}

{% block title %}List product | OnlineShop{% endblock %}
{% block content %}
<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-2">
            {% for product in object_list %}
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="card-img-top" alt="product-image">
                        <div class="card-body">
                            <div class="clearfix mb-3">
                                <a href="{{ product.get_absolute_url }}"><span class="float-start badge rounded-pill bg-primary fs-6">{{ product.name }}</span></a>
                                <span class="float-end price-hp">${{ product.price}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}