{% extends 'base.html' %}
{% load static %}
{% load i18n %}
<!--Template for displaying new, popular, promotional products-->
{% block title %}{{ place|title }} products | OnlineShop{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/goods.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container-md">
        <div class="d-flex justify-content-between align-items-center mt-2">
            <h3 class="cat-header">
                {{ place|title }}
                {% if category %} 
                        {% translate 'in category' %}
                        {% if category.name == 'Mobile phones' %}
                            <b>{% translate 'Mobile phones' %}</b>
                        {% elif category.name == 'Laptops' %}
                            <b>{% translate 'Laptops' %}</b>
                        {% elif category.name == 'Smart Gadgets' %}
                            <b>{% translate 'Smart Gadgets' %}</b>
                        {% elif category.name == 'Audio Video' %}
                            <b>{% translate 'Audio Video' %}</b>
                        {% endif %}
                {% endif %}
            </h3>
            <a class="back-link-main" href="{% url 'goods:product_list' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0
                        1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z">
                    </path>
                </svg>
                {% translate 'Go to main' %}
            </a>
        </div>
        <div class="navs-product-list">
            <div class="prod-list-column">
                {% include 'products_navs.html' with category=category %}
                <div class="d-block text-end">
                    {% include 'sorting.html' with place=place category=category %}
                </div>
                <div class="d-flex p-2 m-4" style="gap: 30px;">
                    {% for product in products %}
                        {% include 'goods/product/card.html' with product=product %}
                    {% empty %}
                        <h3>{% translate 'There are no products in the section' %}</h3>
                    {% endfor %}
                </div>
                <!--Pagination-->
                {% if is_paginated %}
                <div class="row">
                    <div class="d-flex justify-content-center py-2 px-0 w-100">
                        {% include 'paginator.html' with place=place sorting=is_sorting %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/ordering_products.js' %}"></script>
    <script src="{% static 'js/add_remove_favorite.js' %}" type="module"></script>
    <script src="{% static 'js/nav_tab_as_active.js' %}"></script>
{% endblock %}