* {
    margin: 0;
    padding: 0;
}

body, html {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Source Sans Pro', sans-serif !important;
  /*background-image: url("/static/img/19449741.jpg");*/
  background-color: #EAEAEA !important;
}

/*#wrapper {
    margin-left:auto;
    margin-right:auto;
    width: 1920px;
    min-width: 1700px;
}*/

.form-select option {
    font-size: 15px !important;
}

.search-bar {
    background-color: #f2f2f2;
    border: solid 1px #BDB76B;
    height: 60px;
    margin-bottom: 10px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    box-shadow: 2px 2px 6px 0px rgba(224,215,206,1);
}

#main-list {
    //background-color: #F8F8FF;
}

#productData {
    min-height: 300px;
}

.prod-card {
    background-color: #F5FDF0;
    height:400px;
    width: 295px;
}

.filter-prod {
    min-width: 235px;
}

.filter-item {
    background-color: #E9E3E3;
    min-width: 220px;

}

.catPropName {
    background-color: #BAAEF7;
}

#main-navbar {
    width:100%;
    height:80px;
    font-family:'Comic Sans MS';
    font-size:18px;
    line-height:1.3em;
    background: rgba(51,84,175,1);
    min-width: 85%;
}

#main-navbar ul a {
    //color: white;
    font-weight: bold;
}

.cat-header {
    font-family:'Comic Sans MS';
    margin: 10px 0px;
}

.prod-navs a {
    color: #696969;
    font-size: 20px;
    font-weight: bold;
    border: solid 1px #A29B9B !important;
    background-color: #E5DFDF;
    box-shadow: 3px 3px 6px 0px rgba(99,99,99,0.38);
    padding: 5px 5px 5px 5px;
    height: 40px;
}

.prod-navs {
     min-width: 490px;
}


/*errors*/

.errorlist {
    color: #F07D7D;
    font-size: 15px;
    padding-left: 0px;
}

.errorlist li {
    list-style-type: none;
    margin-top: 8px;
    display: block;
    text-align: end;
    font-family: 'Nunito', sans-serif;
}

#error-form {
    padding: 10px 10px;
    margin: 10px 0px;
    color: red;
    font-size: 17px;
}

/*Форма входа в систему*/

.login-form {
    display: block;
    margin: 100px auto;
    width: 800px;
    min-width: 700px;
    border-radius: 10px;
    padding: 15px 15px 50px 15px;
    background-color: #eff4f9;
    border: 1px solid #ced4da;
}

.simple-auth {
    width: 60% !important;
    display: block;
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 10px !important;
    margin-right: 10px !important;
    border: 1px solid #adb5bd;
    border-radius: 10px;
}

.simple-auth .auth-form-fields {
    display: block;
    position: relative;
    margin: 20px auto;
}

.check-auth-field {
    display: inline-block;
    margin-left: 100px;
}

.simple-auth .auth-field {
    position: relative;
    float: right;
    width: 250px;
    padding-left: 10px;
    border-radius: 5px;
    margin-left: 10px;
    border: 1px solid #898383;
    border-radius: 5px;
}

.simple-auth .auth-label {
    display: inline-block;
    font-family: 'Merriweather', serif;
}

.login-form .form-fields {
	width: 350px;
	font-size: 20px;
	margin-bottom: 20px;
}

.login-buttons {
    display: flex;
    width: 250px;
    justify-content: space-between;
    float: right;
}

.log-button {
    display: block;
    background-color: #568EED;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    border: 1px solid grey;
    width: 100px;
    height: 40px;
    align-self: center;
}

.addit-links {
    display: inline-block;
    position: relative;
}

.forgot-pass-link {
    display: block;
    text-decoration: none;
    color: #A68C8C;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: 'Bitter', serif;
}

.reg-link {
    display: block;
    text-decoration: none;
    color: #A68C8C;
    font-size: 1rem;
    font-family: 'Bitter', serif;
}

.reg-link:hover, .forgot-pass-link:hover {
    color: red;
    text-decoration: underline;
}


/*Вход в систему через соц. сети*/
.social {
    display: flex;
    flex-direction: column;
	width: 37% !important;
	justify-content: center;
    align-items: center;
}

.social li {
    list-style-type: none;
    font-size: 20px;
    padding: 5px;
}

.social ul {
    padding: 5px;
}

.social a {
    text-decoration: none;
}

.facebook .bi {
    fill: blue;
    margin-right: 0.8rem;
}

.google .bi {
    fill: #6C6565;
    margin-right: 0.8rem;
}

/*Форма регистрации*/
.register-form {
    display: block;
    position: relative;
    margin: 50px auto 80px auto;
    padding: 15px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    background-color: #eff4f9;
}

.required-field { color: red; }

#reg-form{ padding: 10px; }

.register-form .reg-form-fields {
    display: block;
    margin: 20px auto;
    position: relative;
}

.reg-form-fields .reg-field {
    position: relative;
    float: right;
    width: 250px;
    padding-left: 10px;
    border-radius: 5px;
    margin-left: 10px;
    border: 1px solid grey;
}

.reg-form-fields #id_about {
    min-height: 95px;
}

.reg-photo {
    padding-left: 0px !important;
    position: relative;
    float: right;
    width: 250px;
 }

.reg-form-fields .reg-label {
    display: inline-block;
    font-family: 'Merriweather', serif;
}

.reg-button {
    display: inline-block;
    background-color: #568EED;
    position: absolute;
    bottom: 20px;
    left: 15px;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
    border: 1px solid #1F18EC;
}

.radio-gender {
    display: inline;
    font-family: 'Merriweather', serif;
}

.gender-choice {
    display: block;
    float: right;
    margin-right: 100px;
}

.radio-gender:nth-child(1) { margin-right: 15px; }

.help {
    font-style: italic;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    width: 160px;
    position: relative;
    margin: 5px 0;
    color: darkgray;
}

/*messages framework*/
.success-message, .error-message {
	display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 800px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #B9B5B5;
    margin-top: 20px;
    border-radius: 5px;
    padding: 15px;
    //text-align: justify;
    //text-indent: 20px;
}

.success-message .material-symbols-outlined, .error-message .material-symbols-outlined {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 15px;
    margin-right: 0;
    cursor: pointer;
}

.success-message { background-color: #ADF9AA; }

.error-message { background-color: #F45353; }

/*.close {
    position: relative;
    display: inline-block;
    left: 126px;
    bottom: 19px;
    text-decoration: none;
    color: #22AB1E;
}*/

/*Сортировка товаров*/
.sorting {
    padding: 5px 0px 5px 5px;
}

.sorting label {
    font-weight: bold;
    font-size: 15px;
}

#sorting_id {
    width: 200px;
    height: 30px;
    padding: 2px 5px;
}

/*Таблица с характеристиками товара*/
.table thead th {
    font-weight: bold;
    font-size: 25px;
    font-family: Georgia, Garamond, serif;
    background-color: #060AF273;
}

table tr td {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
}

/*контейнер со свойствами товара*/
#prod-props {
    border: 2px solid #C8BFBF;
    padding: 0px;
    margin: 20px auto 20px auto;
    border-radius: 10px;
    min-width: 1140px;
}

.headers-detail {
    margin: 15px auto 15px auto;
    padding: 5px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    font-weight: bold;
    font-size: 30px;
}

/*Комментарии*/

.count {
    font-size: 1.5rem;
    margin: 10px;
    padding: 7px;
    border-bottom: solid 1px #E1DADA;
}

.userinfo {
	display: flex;
    width: 140px;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #F2E5E5;
    border-radius: 35px;
}

.username {
    display: inline;
    font-weight: bold;
    font-size: 22px;
    margin: 5px;
    padding: 2px;
}

.userphoto {
    display: inline;
    margin: 5px;
}

.userphoto img {
    width: 35px;
    height: 35px;
    margin: 5px;
}

.comment-body {
    margin: 15px 0px 15px 0px;
    padding: 20px;
    border: solid 1px #DBD8D8;
    border-radius: 8px;
    background-color: #F7F1F1;
}

.date {
    font-family: 'Bradley Hand';
    font-size: 13px;
    padding: 5px;
    font-style: italic;
    text-decoration: underline;
    margin: 5px;
    position: relative;
    left: 780px;
}

.comment-text p {
    position: relative;
    font-family: 'Brush Script Std';
    font-size: 18px;
    margin: 0.5rem;
    padding-top: 1rem;
    text-indent: 1.5rem;
    width: 760px;
    left: 140px;
    border-top: solid #eee3e3;
    border-bottom: solid #eee3e3;
    text-align: justify;
    padding-bottom: 1rem;


}

.comment-text {
    min-width: 500px;
}

/*Форма для написания комментария*/
#form-comment label {
    font-size: 20px;
    color: #333;
    height: 40px;
    width: 100px;
    margin-left: 10px;
    text-align: left;
    clear: both;
    float: left;
    margin-right: 15px;
    align-items: center;
}

#form-comment input textarea {
    height: 40px;
    width: 300px;
    border: 1px solid #000;
    float: left;
}

.post-comment {
    padding: 17px;
    background-color: #fff;
    opacity: 0.8;
    opacity: 0.8;
    border: solid 1px blanchedalmond;
    border-radius: 10px;
}


.post-comment {
    position: relative;
}

#form-comment button {
    background-color: #F3B539;
    border: #3C2B0A solid 1px;
    position: relative;
    right: 0px;
    left: 0px;
    margin-top: 20px;
    color: black;
}

/*Вкладки вверху страницы детальной информации о товаре*/

.bookmark-navs {
    background-color: #E1DDDD;
}

.bookmark-navs li {
    font-size: 22px;
    box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.75);

}

.product-photos {
    padding: 10px;

}

.product-photos img {
    padding: 5px;
}

[id^="add-to-cart-"] {
    height: 32px;
    width: auto;
    font-weight: 500;
    font-size: 20px;
    background-color: #63D5CA;
    border: #53A9A1 solid 1px;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

[id^="add-to-cart-"]:hover {
    background-color: #397D77;

}

.add-to-favorite {
    display: inline;
    justify-content: center;
    background-color: #97C4F0;
    height: 35px;
    width: auto;
    min-width: 205px;
    align-items: center;
    padding: 5px;
    border: #6F7173 solid 1px;
    border-radius: 8px;
}

.add-to-favorite:hover {
    background-color: #5E7FD9;
}

.add-to-favorite a {
    text-decoration: none;
    color: white;;
    border: none;
    min-width: 166px;
}

.add-to-favorite a:hover {
    background-color: #5E7FD9;
}

.add-to-favorite svg {
    fill: red;
}


.prod-buttons {
    position: relative;
    top: 174px;
    bottom: 0px;
    min-width: 200px;
}

#rating-form select {
    width: 92px;
}

/*Цвет звезды текущего рейтинга*/
.rating-star .checked {
    color: orange;
    display: inline-block;
    margin: 5px 0px;
}

/*панель пользователя на navbar*/

.user-panel {
    display: inline;
    position: relative;
    padding: 8px;
    margin: 0 10px;
    min-width: 108px;
}

.user-panel a:nth-child(2) {
    text-decoration: none;
    color: white;
    font-weight: 650;
}

.user-panel a:nth-child(2):hover {
    color: #4DCD66;
}

/* Корзина */
.cart-panel {
    display: flex;
    margin: 0 10px;
    padding: 5px;
    min-width: 170px;
    align-items: center;
    justify-content: space-around;
}

.cart-button {
    left: 10px;
    top: 10px;
}

.cart-button a {
    display: inline;
    text-decoration: none;
    color: white;
    position: relative;
}

.cart-button a:hover {
    color: #F7CB39;
}

.amount-cart {
    margin-left: 8px;
    margin-right: 8px;
    position: absolute;
    top: 3px;
}

.total-price {
    position: relative;
    color: #F2900F;
    font-size: 1rem;
    margin-left: 20px;
}

.authorization {
    position: relative;
    display: inline;
    margin-left: 20px;
}

.authorization #login-button {
    border-radius: 5px;
    text-decoration: none;
    color: white;
    padding: 4px;
    display: inline-block;
    background-color: rgba(17, 185, 40, 1);
    position: relative;
    border: solid 1px rgba(5, 70, 14, 1);
}

#login-button:hover {
    background-color: #268833;
}

.register {
    display: inline-block;
}

.register #register-button {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: 500;;
}

#register-button:hover {
    color: #F76C6C;
}

/*Выпадающий список с категориями товаров главного навбара*/

.dropdwn {
    position: absolute;
    left: 90px;
    top: 23px;
    list-style: none;
    padding-left: 0;
    width: 193px;
    background-color: rgba(51,84,175,1);
    border-radius: 8px;
    margin-bottom: inherit;
    z-index: 10;
}

.dropdwn .dropdwn-item {
    padding: 5px 5px 5px 20px;
    margin: 5px 0;
    display: none;
    z-index: 2;
    position: relative;
}

.dropdwn li a {
    color: white;
    text-decoration: none;
}

.dropdwn li a:hover {
    color: rgba(207, 196, 199, 1);
    text-decoration: none;
    text-decoration: underline;
}

#main-nav-item {
    color: white;
    padding: 5px;
    margin-left: 10px;
    margin-right: 35px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    position: relative;
}

#main-nav-item .material-symbols-outlined {
    position: absolute;
    top: 7px;
    right: 5px;
    margin-right: 0;
}

/*Дополнительные пункты меню главного навбара*/

.additional-menu-items {
    display: inline;
    position: relative;
    margin-left: 200px;
    margin-bottom: 0;
    padding-left: 0;
    //padding-right: 15px;
}

.additional-menu-items li {
    display: inline;
    font-weight: bold;
    padding: 5px;
    margin: 0 10px;
    border-radius: 8px;
}

.additional-menu-items a {
    text-decoration: none;
    color: white;
}

.additional-menu-items a:hover {
    color: rgba(207, 196, 199, 1);
    text-decoration: underline;
}

/*Строка поиска*/
#search-form {
    position: relative;
    padding: 10px;
    margin-left: 50px;
    margin-right: 15px;
    display: flex;
}

#search-form #search-btn {
    padding: 6px;
    border-radius: 5px;
    border: 1px rgba(5, 70, 14, 1) solid;
    margin-left: 0.5rem;
    background-color: rgba(17, 185, 40, 1);
    color: white;
    height: 40px;
}

#search-form #search-btn:hover { background-color: #268833 }

#id_query {
    width: 350px;
    padding: 0 1.2rem;
    border-radius: 8px;
    height: 40px;
}
