* {
    margin: 0;
    padding: 0;
}

body, html {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Source Sans Pro', sans-serif !important;
  /*background-image: url("/static/img/19449741.jpg");*/
  background-color: #EAEAEA !important;
}

/*#wrapper {
    margin-left:auto;
    margin-right:auto;
    width: 1920px;
    min-width: 1700px;
}*/

.form-select option {
    font-size: 15px !important;
}

.button-link {
  background: none!important;
  border: none;
  padding: 0!important;
  color: #069;
  text-decoration: none;
  cursor: pointer;
}

/* кнопка покупки/добавление в корзину */
/*.buy-btn {
    width: 100px;
    text-decoration: none;
    background: linear-gradient(to bottom, white, #0066FA);
    text-align: center;
    font-size: 20px;
    color: #262525;
    border-radius: 5px;
    height: 40px;
}*/

.search-bar {
    background-color: #f2f2f2;
    border: solid 1px #BDB76B;
    height: 60px;
    margin-bottom: 10px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    box-shadow: 2px 2px 6px 0px rgba(224,215,206,1);
}

#main-list {
    background-color: #F8F8FF;
}

#productData {
    min-height: 300px;
}

.prod-card {
    background-color: #F5FDF0;
    height:400px;
    width: 295px;
}

.filter-prod {
    min-width: 235px;
}

.filter-item {
    background-color: #E9E3E3;
    min-width: 220px;

}

.catPropName {
    background-color: #BAAEF7;
}

#main-navbar {
    width:100%;
    height:80px;
    font-family:'Comic Sans MS';
    font-size:18px;
    line-height:1.3em;
    background: rgba(51,84,175,1);
    min-width: 85%;
}

#main-navbar ul a {
    //color: white;
    font-weight: bold;
}

.cat-header {
    font-family:'Comic Sans MS';
    margin: 10px 0px;
}

.prod-navs a {
    color: #696969;
    font-size: 20px;
    font-weight: bold;
    border: solid 1px #A29B9B !important;
    background-color: #E5DFDF;
    box-shadow: 3px 3px 6px 0px rgba(99,99,99,0.38);
    padding: 5px 5px 5px 5px;
    height: 40px;
}

.prod-navs {
     min-width: 490px;
}


/*errors*/

.errorlist {
    color: #F07D7D;
    font-size: 15px;
    padding-left: 0px;
}

.errorlist li {
    list-style-type: none;
    margin-top: 8px;
    display: block;
    text-align: end;
}

#error-form {
    padding: 10px 10px;
    margin: 10px 0px;
    color: red;
    font-size: 17px;
}

/*Форма входа в систему*/

.login-form {
    display: block;
    position: relative;
    margin: 100px auto;
    width: 800px;
    min-width: 700px;
    border-radius: 10px;
    padding: 15px 15px 50px 15px;
    background-color: #eff4f9;
    border: 1px solid #ced4da;
}

.simple-auth {
    width: 60% !important;
    display: block;
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 10px !important;
    margin-right: 10px !important;
    border: 1px solid #adb5bd;
    border-radius: 10px;
}

.simple-auth .auth-form-fields {
    display: block;
    position: relative;
    margin: 20px auto;
}

.check-auth-field {
    display: inline-block;
    margin-left: 50px;
}

.simple-auth .auth-field {
    position: relative;
    float: right;
    width: 250px;
    padding-left: 10px;
    border-radius: 5px;
    margin-left: 10px;
}

.simple-auth .auth-label {
    display: inline-block;
    font-family: 'Merriweather', serif;
}

.login-form .form-fields {
	width: 350px;
	font-size: 20px;
	margin-bottom: 20px;
}

.login-buttons {
    display: flex;
    width: 250px;
    justify-content: space-between;
    float: right;
}

.log-button {
    display: block;
    background-color: #568EED;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
    border: 1px solid #1F18EC;
    width: 100px;
    height: 40px;
    align-self: center;
}

.addit-links {
    display: inline-block;
    position: relative;
}

.forgot-pass-link {
    display: block;
    text-decoration: none;
    color: #A68C8C;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: 'Bitter', serif;
}

.reg-link {
    display: block;
    text-decoration: none;
    color: #A68C8C;
    font-size: 1rem;
    font-family: 'Bitter', serif;
}

.reg-link:hover, .forgot-pass-link:hover {
    color: red;
    text-decoration: underline;
}


/*Вход в систему через соц. сети*/
.social {
    display: flex;
    flex-direction: column;
	width: 37% !important;
	justify-content: center;
    align-items: center;
}

.social li {
    list-style-type: none;
    font-size: 20px;
    padding: 5px;
}

.social ul {
    padding: 5px;
}

.social a {
    text-decoration: none;
}

/*Форма регистрации*/
.register-form {
    display: block;
    position: relative;
    margin: 50px auto 80px auto;
    padding: 15px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    background-color: #eff4f9;
}

.required-field { color: red; }

#reg-form{ padding: 10px; }

.register-form .reg-form-fields {
    display: block;
    margin: 20px auto;
    position: relative;
}

.reg-form-fields .reg-field {
    position: relative;
    float: right;
    width: 250px;
    padding-left: 10px;
    border-radius: 5px;
    margin-left: 10px;
}

.reg-form-fields #id_about {
    min-height: 95px;
}

.reg-photo { padding-left: 0px !important; }

.reg-form-fields .reg-label {
    display: inline-block;
    font-family: 'Merriweather', serif;
}

.reg-button {
    display: inline-block;
    background-color: #568EED;
    position: absolute;
    bottom: 20px;
    left: 15px;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
    border: 1px solid #1F18EC;
}

.radio-gender {
    display: inline;
    font-family: 'Merriweather', serif;
}

.gender-choice {
    display: block;
    float: right;
    margin-right: 100px;
}

.radio-gender:nth-child(1) { margin-right: 15px; }

.help {
    font-style: italic;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    width: 160px;
    position: relative;
    margin: 5px 0;
    color: darkgray;
}

/*messages framework*/
.success-message {
    display: flex;
    margin: 10px !important;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 20px;
    background-color: #ADF9AA;
    border: 2px solid #66E162;
    border-radius: 5px;
}

.error-message {
    font-size: 15px;
    background-color: red;
    border: 1px solid black;
    border-radius: 5px;

}

.close {
    position: relative;
    display: inline-block;
    left: 126px;
    bottom: 19px;
    text-decoration: none;
    color: #22AB1E;
}

/*Сортировка товаров*/
.sorting {
    padding: 5px 0px 5px 5px;
}

.sorting label {
    font-weight: bold;
    font-size: 15px;
}

#sorting_id {
    width: 200px;
    height: 30px;
    padding: 2px 5px;
}

/*Таблица с характеристиками товара*/
.table thead th {
    font-weight: bold;
    font-size: 25px;
    font-family: Georgia, Garamond, serif;
    background-color: #060AF273;
}

table tr td {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
}

/*контейнер со свойствами товара*/
#prod-props {
    border: 2px solid #C8BFBF;
    padding: 0px;
    margin: 20px auto 20px auto;
    border-radius: 10px;
    min-width: 1140px;
}

.headers-detail {
    margin: 15px auto 15px auto;
    padding: 5px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    font-weight: bold;
    font-size: 30px;
}

/*Комментарии*/

.count {
    font-size: 1.5rem;
    margin: 10px;
    padding: 7px;
    border-bottom: solid 1px #E1DADA;
}

.userinfo {
	display: flex;
    width: 140px;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #F2E5E5;
    border-radius: 35px;
}

.username {
    display: inline;
    font-weight: bold;
    font-size: 22px;
    margin: 5px;
    padding: 2px;
}

.userphoto {
    display: inline;
    margin: 5px;
}

.userphoto img {
    width: 35px;
    height: 35px;
    margin: 5px;
}

.comment-body {
    margin: 15px 0px 15px 0px;
    padding: 20px;
    border: solid 1px #DBD8D8;
    border-radius: 8px;
    background-color: #F7F1F1;
}

.date {
    font-family: 'Bradley Hand';
    font-size: 13px;
    padding: 5px;
    font-style: italic;
    text-decoration: underline;
    margin: 5px;
    position: relative;
    left: 780px;
}

.comment-text p {
    position: relative;
    font-family: 'Brush Script Std';
    font-size: 18px;
    margin: 0.5rem;
    padding-top: 1rem;
    text-indent: 1.5rem;
    width: 760px;
    left: 140px;
    border-top: solid #eee3e3;
    border-bottom: solid #eee3e3;
    text-align: justify;
    padding-bottom: 1rem;


}

.comment-text {
    min-width: 500px;
}

/*Форма для написания комментария*/
#form-comment label {
    font-size: 20px;
    color: #333;
    height: 40px;
    width: 100px;
    margin-left: 10px;
    text-align: left;
    clear: both;
    float: left;
    margin-right: 15px;
    align-items: center;
}

#form-comment input textarea {
    height: 40px;
    width: 300px;
    border: 1px solid #000;
    float: left;
}

.post-comment {
    padding: 17px;
    background-color: #fff;
    opacity: 0.8;
    opacity: 0.8;
    border: solid 1px blanchedalmond;
    border-radius: 10px;
}


.post-comment {
    position: relative;
}

#form-comment button {
    background-color: #F3B539;
    border: #3C2B0A solid 1px;
    position: relative;
    right: 0px;
    left: 0px;
    margin-top: 20px;
    color: black;
}

/*Вкладки вверху страницы детальной информации о товаре*/

.bookmark-navs {
    background-color: #E1DDDD;
}

.bookmark-navs li {
    font-size: 22px;
    box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.75);

}

.product-photos {
    padding: 10px;

}

.product-photos img {
    padding: 5px;
}

[id^="add-to-cart-"] {
    height: 32px;
    width: auto;
    font-weight: 500;
    font-size: 20px;
    background-color: #63D5CA;
    border: #53A9A1 solid 1px;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

#id_quantity {
    border-radius: 5px;
}

[id^="add-to-cart-"]:hover {
    background-color: #397D77;

}

.add-to-favorite {
    display: inline;
    justify-content: center;
    background-color: #97C4F0;
    height: 35px;
    width: auto;
    min-width: 205px;
    align-items: center;
    padding: 5px;
    border: #6F7173 solid 1px;
    border-radius: 8px;
}

.add-to-favorite:hover {
    background-color: #5E7FD9;
}

.add-to-favorite a {
    text-decoration: none;
    color: white;;
    border: none;
    min-width: 166px;
}

.add-to-favorite a:hover {
    background-color: #5E7FD9;
}

.add-to-favorite svg {
    fill: red;
}


.prod-buttons {
    position: relative;
    top: 174px;
    bottom: 0px;
    min-width: 200px;
}

#rating-form select {
    width: 92px;
}

/*Цвет звезды текущего рейтинга*/
.rating-star .checked {
    color: orange;
    display: inline-block;
    margin: 5px 0px;
}

/*панель пользователя на navbar*/

.user-panel {
    display: inline;
    position: relative;
    padding: 8px;
    margin: 0 10px;
    min-width: 108px;
}

.user-panel a:nth-child(2) {
    text-decoration: none;
    color: white;
    font-weight: 650;
    font-style: italic;
}

.user-panel a:nth-child(2):hover {
    color: #4DCD66;
}

/* Корзина */
.cart-panel {
    display: flex;
    margin: 0 10px;
    padding: 5px;
    min-width: 170px;
    align-items: center;
    justify-content: space-around;
}
}

.amount-items {
    font-size: 21px;
}

.amount-items span {
    font-weight: bold;
}

.cart-button {
    left: 10px;
    top: 10px;
}

.cart-button a {
    display: inline;
    text-decoration: none;
    color: white;
    position: relative;
}

.cart-button a:hover {
    color: #F7CB39;
}

.amount-cart {
    margin-left: 8px;
    margin-right: 8px;
    position: absolute;
    top: 3px;
}

.total-price {
    position: relative;
    color: #F2900F;
    font-size: 1rem;
    margin-left: 20px;
}

.authorization {
    position: relative;
    display: inline;
    margin-left: 20px;
}

.authorization #login-button {
    border-radius: 5px;
    text-decoration: none;
    color: white;
    padding: 4px;
    display: inline-block;
    background-color: rgba(17, 185, 40, 1);
    position: relative;
    border: solid 1px rgba(5, 70, 14, 1);
}

#login-button:hover {
    background-color: #268833;
}

.register {
    display: inline-block;
}

.register #register-button {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: 500;;
}

#register-button:hover {
    color: #F76C6C;
}

/*Страница пользователя*/

.customer-header {
    padding: 10px;;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
}

.sidebar-customer {
    padding: 0px 10px !important;
    margin-right: 10px;
    background-color: white;
    width: 35% !important;
    border-radius: 5px;
    position: relative;
}

.content-customer {
    padding: 0px 10px !important;
    background-color: white;
    width: 64.2% !important;
    border-radius: 5px;
    position: relative;
}

.brief-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.brief-info img {
    margin: 5px;
    display: inline-block;
}

.brief-info #customer-full-name {
    display: flex;
    align-items: center;
    font-size: 25px;
    margin: 0px 10px;
}

.brief-info .counts {
    font-size: 1em;
    font-style: italic;
    margin-left: 5px;
}

/*Верхнее меню*/
.often-use-menu {
    display: flex;
    padding: 0.5em;
    justify-content: space-around;
}

.often-use-menu ul li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 20px;
    list-style: none;
}

.often-use-menu ul {
    padding-left: 4px;
    margin-bottom: 0px;
    padding: 5px;
}

.often-use-menu a {
    text-decoration: none;
    color: grey;
}

/*sidebar с меню слева*/
.sidebar-item {
    display: flex;
    align-items: center;
    padding: 20px 7px 20px 50px;
    border-bottom: solid 1px #E1E0E0;
    text-align: left;
    font-size: 23px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
}

#logout {
    font-weight: 600;
    position: relative;
    display: block !important;
}

#logout a {
    color: #E18E30;
}


.material-icons, .material-symbols-outlined {
    margin-right: 15px;
}

.sidebar-customer a {
    text-decoration: none;
    color: black;
}

.often-use-menu .counts {
    position: relative;
}

.personal-info {
    padding: 30px;
    margin-top: 2.5rem;
}

.personal-info .info-row {
    padding: 10px;
    display: flex;
}

.info-block {
   padding-right: 180px;
   padding-right: 180px;
   border: 1px solid gainsboro;
   border-radius: 10px;
}

.personal-info .info-name {
    font-size: 20px;
    min-width: 13rem;
    color: #C3B1B1;
}

.personal-info .info-value {
    font-size: 20px;
}

.personal-info h3 {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 800;
}

/*Пункт с заказами*/
.personal-info .order-pk {
    width: 10%;
    font-size: 1.2em;
    font-weight: 600;
    width: 17%;
}

.highlighted-element {
   box-shadow: 1px 1px 10px 0px rgba(36,183,26,1);
}

.personal-info .order-created {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    width: 20%;
}

#order-state {
    width: 15%;
}

#order-state .done {
    color: green;
    font-size: 1.2em;
}

#order-state .not-done {
    color: red;
    font-size: 1.2em;
}

.personal-info [id^="total-cost-"] {
    font-size: 1.2em;
    font-weight: 800;
    width: 17%;
}

.personal-info [id^="items-images-"] {
    padding: 0px 5px !important;
    display: flex;
}

.personal-info [id^="items-images-"] div {
    display: flex;
    align-items: center;
    margin-left: 7px;
}

[id^=expander-] img {
    position: absolute;
    right: 1.2rem;
    bottom: 2.0rem;
    padding: 5px;
}

.expander-header {
    display: flex;
    align-items: center;
    position: relative;
    padding: 1rem 2rem 1rem 1rem !important;
    min-height: 94px;
    min-width: 555px;
}

.product-image {
    display: flex;
    margin: 1.1em;
}

[id^="order-detail-"] {
    padding: 1.1em 0 !important;
}

.add-review {
    position: relative;
    padding-left: 1.6rem;
    margin: 0 2.0rem 0 0.8rem;
}

.add-review a {
    display: flex;
    text-decoration: none;
    color: green;
    font-weight: 700;
    font-size: 1.2rem;
}

.quantity p  {
    margin: 0;
    font-size: 1.2rem;
}

.quantity {
    width: 12%;
}

.product-name {
    display: flex;
    flex-grow: 1;
 }

.product-name a {
    margin: 0;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    flex-shrink: 2;
    flex-grow: 1;
    word-break: break-word;
}

.price {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
    width: 13%;
}

.empty-customer-content {
    font-size: 1.2rem;
    display: block;
    position: absolute;
    top: 50%;
    left: 21%;
}

/*Информация о доставке товара*/

.delivery-info {
    padding: 1.1rem 1.1rem;
    margin: 1rem 0;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
}

.payment-info {
    padding: 1.1rem 1.1rem;
    margin: 1rem 0;
}

.delivery-info .item, .payment-info .item {
    display: flex;
    align-items: center;
    margin-bottom: 1.1rem;
}

.name {
    font-size: 1.2rem;
    color: grey;
    width: 35%;
    font-weight: 500;
    flex-shrink: 0;
}

.attr {
    font-size: 1.2rem;
    width: 70%;
}

.discount { color: red; }

.total {
    background-color:#DFDADA;
    margin-top: 1.8rem;
    padding: 1.3rem 0.5rem 1.3rem 0.5rem;
    border-radius: 15px;
}

.total .attr {
    font-size: 1.5rem;
    font-weight: bold;
}

/*Купоны*/
.coupon-category, .card-category {
    display: flex;
}

.discount-value {
    color: #59D850;
    font-weight: 600;
}

.coupon-code {
    display: block;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.coupon-validation, .card-validation { display: flex; }

.coupon-discount, .card-discount { display: flex; }

.attr-coupons {
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
    width: 40%;
    font-weight: 500;
}

.value-coupons {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}

.valid-code { color: green; }

.invalid-code { color: red; }

.check-position {
    position: absolute;
    right: -17px;
    top: 0;
}

.go-order {
    padding: 3px;
    height: 35px;
    background-color: #7FDC79;
    width: auto;
    border-radius: 8px;
    font-family: 'Nunito', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
}

[id^='coupon-'] {
    width: auto;
    height: 34px;
    margin-right: 7px;
}

/*Подарочные карты*/
.card-code {
    display: block;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
}

.addit-info-card {
    display: flex;
    margin-bottom: 0.8rem;
    font-family: 'Nunito', sans-serif;
}

.attr-card-addit {
    width: 25%;
}

.value-card-addit {
    width: 75%;
}

.card-message {
    text-align: justify;
    font-weight: 600;
    padding: 10px;
    border-top: 1px solid #D3D7D2;
    border-bottom: 1px solid #D3D7D2;
}

/*Комментарии*/

.comment-body-profile {
    padding: 1rem 2rem 1rem 4rem;
    text-align: justify;
    text-indent: 20px;
}

[id^='comment-'][class^='d-flex'] {
    cursor: pointer;
}

.date-comment-profile {
    left: 0;
    padding: 0;
}

.product-name-profile {
    display: block;
    margin-right: 0.5rem;
    font-family: 'EB Garamond', serif;
    font-size: 0.8rem;
    align-self: center;
}

.product-name-profile a {
    text-decoration: none;
    text-transform: uppercase;
    color: #B7AFAF;
    font-weight: 600;
}

.product-name-profile a:hover {
    text-decoration: underline;
}

.comment-id-profile {
    color: #797979;
    font-size: 0.9rem;
    font-weight: bold;
}

.rate-comment-profile {
    display: inline-block;
    padding: 5px;
    position: relative;
    top: 0;
    left: 80%;
    border-left: solid 1px #dee2e6;
}

.rate-comment-profile div {
    display: inline-block;
    margin-left: 10px;
}

/*Просмотренные товары*/

.product-card-watched {
    position: relative;
    margin: 10px;
    padding: 5px;
    width: 171px;
    height: 220px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
}

.image-product-watched {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.prod-name-watched {
    display: flex;
    justify-content: center;
    height: 23%;
    width: 100%;
    //padding: 5px;
    margin: 0.5rem 0;
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.prod-name-watched a {
    text-decoration: none;
    color: #5E5C5C;
}

.prod-rating-watched {
    display: block;
    text-align: center;
    margin: 5px 0;
}

.prod-price-watched {
    display: block;
    text-align: center;
    //margin-left: 0.8rem;
    font-weight: bold;
    font-size: 1.1rem;
}

.prod-fav-watched {
    position: absolute;
    top: 10px;
    right: 10px;
}

.prod-fav-watched svg {
    fill: red;
    color: red;
}

/*Выпадающий список с категориями товаров главного навбара*/

.dropdwn {
    position: absolute;
    left: 90px;
    top: 23px;
    list-style: none;
    padding-left: 0;
    width: 193px;
    background-color: rgba(51,84,175,1);
    border-radius: 8px;
    margin-bottom: inherit;

}

.dropdwn .dropdwn-item {
    padding: 5px 5px 5px 20px;
    margin: 5px 0;
    display: none;
    z-index: 2;
    position: relative;
}

.dropdwn li a {
    color: white;
    text-decoration: none;
}

.dropdwn li a:hover {
    color: rgba(207, 196, 199, 1);
    text-decoration: none;
    text-decoration: underline;
}

#main-nav-item {
    color: white;
    padding: 5px;
    margin-left: 10px;
    margin-right: 35px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(51,84,156,1);
    text-align: center;
    border-radius: 8px;
    position: relative;
}

#main-nav-item .material-symbols-outlined {
    position: absolute;
    top: 7px;
    right: 5px;
    margin-right: 0;
}

/*Дополнительные пункты меню главного навбара*/

.additional-menu-items {
    display: inline;
    position: relative;
    margin-left: 200px;
    margin-bottom: 0;
    padding-left: 0;
    //padding-right: 15px;
}

.additional-menu-items li {
    display: inline;
    font-weight: bold;
    padding: 5px;
    margin: 0 10px;
    background-color: rgba(51,84,156,1);
    border-radius: 8px;
}

.additional-menu-items a {
    text-decoration: none;
    color: white;
}

.additional-menu-items a:hover {
    color: rgba(207, 196, 199, 1);
    text-decoration: underline;
}

/*Строка поиска*/
#search-form {
    position: relative;
    padding: 10px;
    margin-left: 50px;
    margin-right: 15px;
    display: flex;
}

#search-form #search-btn {
    padding: 6px;
    border-radius: 5px;
    border: 1px rgba(5, 70, 14, 1) solid;
    margin-left: 0.5rem;
    background-color: rgba(17, 185, 40, 1);
    color: white;
    height: 40px;
}

#search-form #search-btn:hover { background-color: #268833 }

#id_query {
    width: 350px;
    padding: 0 1.2rem;
    border-radius: 8px;
    height: 40px;
}
