{% extends 'base.html' %}
{% load static %}

{% block title %}Order accepted | OnlineShop{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/orders.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="success-order">
            <a class="order-go-home" href="{% url 'goods:product_list' %}">
                <span class="material-symbols-outlined">home</span>
                To main page
            </a>
            <h3 class="header-success-order">Order has been accepted successfully!</h3>
            <p class="info-success-order">Your order <b>№ {{ order_id }}</b>.
                All information about your orders you can see in your
                <a target="_blank" href="{% url 'customer_detail' request.user.username 'about' %}">
                    <span class="material-symbols-outlined">account_circle</span>
                    Profile
                </a>
            </p>
            {% if method == 'Online' %}
            <form method="post" action="{% url 'payment:create_checkout_session' %}">
                <div class="make-payment">
                    <p>Since you have chosen online payment, please click the button to make a payment</p>
                    <span class="material-symbols-outlined">east</span>
                    <button class="pay-btn" type="submit">
                        <span class="material-symbols-outlined">credit_card</span>
                        Make a payment
                    </button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
