<div class="personal-info">
  <h3>Comments</h3>
  {% for comment in comments %}
    <span class="comment-id-profile">№ {{ comment.pk }}</span>
    <div class="d-block border rounded mb-3">
      <div id="comment-{{ comment.pk }}" class="d-flex justify-content-between my-2 ms-2">
        <div class="d-flex align-items-center">
            <span class="material-symbols-outlined" style="margin-right: 5px;">calendar_month
            </span> <span class="date date-comment-profile">{{ comment.created|date:"d.m.Y l" }}</span>
        </div>
        {% if comment.updated == comment.created %}
          <div class="d-inline">
            Updated: <span class="date date-comment-profile">{{ comment.updated|date:"d.m.Y l" }}</span>
          </div>
        {% endif %}
        <div class="product-name-profile">
          <a href="{{ comment.product.get_absolute_url }}">{{ comment.product.name }}</a>
        </div>
      </div>
      <div id="comment-expander-{{ comment.pk }}" style="display: none;">
        <div class="d-flex position-relative border-bottom border-top">
          <span class="material-symbols-outlined position-absolute" style="top: 19px;left: 9px;">comment</span>
          <div class="comment-body-profile">{{ comment.body }}</div>
        </div>
        <div class="rate-comment-profile">
          {% if customer in comment.profiles_likes.all %}
            <span class="material-symbols-outlined filled" id="like-{{ comment.pk }}">thumb_up</span>
          {% else %}
            <span class="material-symbols-outlined unfilled" id="like-{{ comment.pk }}">thumb_up</span>
          {% endif %}

          <span id="likes-count-{{ comment.pk }}">({{ comment.profiles_likes.count }})</span>
          <!-- если комментарию был установлен dislike текущим пользователем profile -->
          {% if customer in comment.profiles_unlikes.all %}
            <span class="material-symbols-outlined filled" id="unlike-{{ comment.pk }}">thumb_down</span>
          {% else %}
            <span class="material-symbols-outlined unfilled" id="unlike-{{ comment.pk }}">thumb_down</span>
          {% endif %}

          <span id="unlikes-count-{{ comment.pk }}">({{ comment.profiles_unlikes.count }})</span>
        </div>
      </div>
    </div>
  {% empty %}
    <div class="empty-customer-content">
          <h4>You are not left comments yet</h4>
    </div>
  {% endfor %}
</div>
