{% extends 'base.html' %}
{% load static %}

{% block title %}My account | OnlineShop{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container my-4" style="min-width: 960px;">
        <div class="row customer-header">
            <div class="brief-info">
                <div style="display: flex; align-items: center;">
                    {% if customer.photo %}
                        <img src="{{ customer.photo.url }}" width="80" height="80" alt="user-photo">
                    {% else %}
                        <img src="{% static 'img/no_user_photo.png' %}" width="80" height="80" alt="user-photo">
                    {% endif %}
                    <span id="customer-full-name">
                        <span class="material-symbols-outlined" style="margin-right: 5px;">
                            person</span>{{ customer.user.get_full_name }}
                    </span>
                </div>
                <div class="often-use-menu">
                    <ul>
                        <li>
                            <span class="material-symbols-outlined">shopping_cart</span>
                            <span>Orders</span>
                        </li>
                        <li>
                            <span class="material-symbols-outlined">favorite</span>
                            <span>Favorites</span>
                        </li>
                        <li>
                            <span class="material-symbols-outlined">chat_bubble</span>
                            <span>Comments</span>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <span class="counts">
                                <a href="{% url 'customer_detail' request.user.username 'orders' %}">
                                    {{ orders.count }}
                                </a>
                            </span>
                        </li>
                        <li>
                            <span class="counts">
                                <a href="{% url 'customer_detail' request.user.username 'favorites' %}">
                                             {{ favorites.count }}
                                </a>
                            </span>
                        </li>
                        <li>
                            <span class="counts">
                                <a href="{% url 'customer_detail' request.user.username 'comments' %}">
                                    {{ comments.count }}
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row pb-2" style="flex-wrap: nowrap;">
            {% with username=request.user.username %}
                <div class="sidebar-customer">
                    <div class="sidebar-item">
                        <span class="material-symbols-outlined">person</span><a href="{% url 'customer_detail' username 'about' %}"><span>Personal info</span></a>
                    </div>
                    <div class="sidebar-item">
                        <span class="material-symbols-outlined">shopping_cart</span><a href="{% url 'customer_detail' username 'orders' %}"><span>Orders</span></a>
                    </div>
                    <div class="sidebar-item">
                        <span class="material-symbols-outlined">favorite</span><a href="{% url 'customer_detail' username 'favorites' %}"><span>Favorites</span></a>
                    </div>
                    <div class="sidebar-item">
                        <span class="material-icons">card_giftcard</span><a href="{% url 'customer_detail' username 'coupons' %}"><span>Coupons</span></a>
                    </div>
                    <div class="sidebar-item">
                        <span class="material-icons">card_giftcard</span><a href="{% url 'customer_detail' username 'present_cards' %}"><span>Present cards</span></a>
                    </div>
                    <div class="sidebar-item">
                        <span class="material-symbols-outlined">chat_bubble</span><a href="{% url 'customer_detail' username 'comments' %}"><span>Comments</span></a>
                    </div>
                    <div class="sidebar-item">
                        <span class="material-symbols-outlined">visibility</span><a href="{% url 'customer_detail' username 'watched' %}"><span>Watched products</span></a>
                    </div>
                    <div id="logout" class="sidebar-item">
                        <div style="display: flex;justify-content: end;align-items: center;">
                            <span class="material-symbols-outlined">logout</span>
                            <a href="{% url 'logout' %}">Logout</a>
                        </div>
                    </div>
                </div>
            {% endwith %}
            <div class="content-customer">
                {% if location == 'about' %}
                    {% include 'account/user/personal_info.html' with customer=customer %}
                {% elif location == 'orders' %}
                    {% include 'account/user/orders_info.html' with orders=orders items=order_items %}
                {% elif location == 'comments' %}
                    {% include 'account/user/comments_info.html' with comments=comments %}
                {% elif location == 'coupons' %}
                    {% include 'account/user/coupons_info.html' with coupons=coupons %}
                 {% elif location == 'favorites' %}
                    {% include 'account/user/favorites_info.html' with favorites=favorites %}
                {% elif location == 'present_cards' %}
                    {% include 'account/user/present_cards_info.html' with present_cards=present_cards %}
                {% elif location == 'watched' %}
                    {% include 'account/user/watched_info.html' with watched_products=watched favorites=favorites %}
                {% endif %}
            </div>
        </div>
    </div>
<script src="{% static 'js/collapse_expand_order_detail.js' %}"></script>
<script src="{% static 'js/add_remove_favorite.js' %}" type="module"></script>
<script src="{% static 'js/go_to_choose_order.js' %}"></script>
<script src="{% static 'js/highlight_order.js' %}"></script>
<script src="{% static 'js/collapse_expand_comment.js' %}"></script>
{% endblock %}