{% load static %}
{% load cut_fraction_part %}
{% load i18n %}

<div class="personal-info">
  <h3>{% translate 'Favorite products' %}</h3>
  {% for product in favorites %}
    <div id="fav-prod-{{ product.id }}" class="favorite-card">
      <div class="prod-image-fav">
        <a href="{{ product.get_absolute_url }}">
          {% if product.image %}
            <img src="{{ product.image.url }}" alt="product-image" width="100" height="100">
          {% else %}
            <img src="{% static 'img/no_image_crop.png' %}" alt="product-image" width="100" height="100">
          {% endif %}
        </a>
      </div>
      <div class="prof-info-col-fav">
        <a class="prod-name-link-fav" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
        <div class="rate-comments-fav">
          {% include 'rating_stars.html' %}
          <a class="comment-link-fav" href="{{ product.get_absolute_url|add:'#comments' }}">
            <span class="material-symbols-outlined">chat</span>
            ({{ product.comments.all.count }})
          </a>
        </div>
        <div class="prod-prices-fav">
          {% if product.promotional %}
            <div class="prod-price-fav default">$ {{ product.price }}</div>
            <div class="prod-price-fav promo">$ {{ product.promotional_price }}</div>
          {% else %}
            <div class="prod-price-fav">$ {{ product.price }}</div>
          {% endif %}
          <span id="add-to-cart-{{ product.id }}" class="material-symbols-outlined">shopping_cart</span>
        </div>
        <form id="add-form-{{ product.id }}">
          {% csrf_token %}
          <input type="hidden" name="quantity" value="1">
          <input type="hidden" name="url" value="{% url 'cart:cart_add' %}">
        </form>
      </div>
      <div id="remove-fav-{{ product.id }}" data-action="remove"
           data-url="{% url 'goods:add_or_remove_product_favorite' %}"
           class="material-symbols-outlined">delete
      </div>
    </div>
  {% empty %}
    <div class="empty-customer-content">
        <h4>{% translate 'There are no favorite products yet' %}</h4>
    </div>
  {% endfor %}
</div>

