{% load static %}

<div class="personal-info">
    <h3>Orders</h3>
    {% for order in orders %}
        {% with items=order.items.all cost_with_discounts=order.get_total_values.total_cost_with_discounts cost_no_discounts=order.get_total_values.total_cost %}
            <div id="min-max-detail-{{ order.pk }}" role="button">
                <div class{% if forloop.counter > 4 and orders.count > 4 %}="all-order-info collapse-order"{% else %}="all-order-info expand-order"{% endif %}>
                    <div class="expander-header">
                        <div class="order-pk">
                            № {{ order.pk }}
                        </div>
                        <div class="order-created">
                            {{ order.created|date:"d.m.Y" }}
                        </div>
                        <div id="order-state">
                            {% if order.is_done %}
                                <div class="done">Done</div>
                            {% else %}
                                <div class="not-done">Not done</div>
                            {% endif %}
                        </div>
                        <div id="total-cost-{{ order.pk }}">
                            {% if cost_with_discounts %}
                                $ {{ cost_with_discounts }}
                            {% else %}
                                $ {{ cost_no_discounts }}
                            {% endif %}
                        </div>
                        <!--Изображения товаров (не более 2-х)-->
                        <div id="items-images-{{ order.pk }}">
                            {% with count_items=items|length %}
                                <div class="item-image">
                                    {% for item in items %}
                                        {% if forloop.counter < 3 %}
                                            <img src="{{ item.product.image.url }}" width="60" height="60" alt="product-image">
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                {% if count_items > 2 %}
                                    +{{ count_items|add:-2 }}
                                {% endif %}
                            {% endwith %}
                        </div>
                        <div id="expander-{{ order.pk }}">
                            <span class="material-symbols-outlined">expand_more</span>
                        </div>
                    </div>
                    <!--Информация о каждом товаре из заказа-->
                    <div id="order-detail-{{ order.pk }}" style="display: none;">
                        <div class="d-block">
                            {% for item in items %}
                                <div class="d-flex pe-3" style="align-items: center;">
                                    <div class="product-image">
                                        {% if item.product.image %}
                                            <a target="_blank" href="{{ item.product.get_absolute_url }}">
                                                <img src="{{ item.product.image.url }}" width="100" height="100">
                                            </a>
                                        {% else %}
                                            <img src="{% static 'img/no_image_crop.png' %}"/>
                                        {% endif %}
                                    </div>
                                    <div class="product-name">
                                        <a href="{{ item.product.get_absolute_url }}">{{ item.product.name }}</a>
                                    </div>
                                    <div class="add-review">
                                        <a target="_blank"
                                           href="{{ item.product.get_absolute_url|add:'#comments' }}">
                                            <span class="material-symbols-outlined">chat</span>
                                            Add review
                                        </a>
                                    </div>
                                    <div class="quantity">
                                        <p>{{ item.quantity }} pcs.</p>
                                    </div>
                                    <div class="price">
                                        ${{ item.get_cost }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!--Информация о доставке-->
                        <div class="delivery-info">
                            <p class="fw-bold fs-5">Delivery</p>
                            <div class="item">
                                <div class="name">
                                    Delivery date
                                </div>
                                <div class="attr">
                                    {{ order.delivery.delivery_date|date:"d.m.Y" }}
                                </div>
                            </div>
                            <div class="item">
                                <div class="name">
                                    Delivery method
                                </div>
                                <div class="attr">
                                    {{ order.delivery.method }}
                                </div>
                            </div>
                            {% with delivery_method=order.delivery.method %}
                                {% if order.delivery.method == 'Post office' %}
                                <div class="item">
                                    <div class="name">
                                        Post office №
                                    </div>
                                    <div class="attr">
                                        {{ order.delivery.office_number }}
                                    </div>
                                </div>
                                {% endif %}
                            {% endwith %}
                            {% if order.delivery.method == 'Apartment' %}
                                <div class="item">
                                    <div class="name">
                                        Delivery address
                                    </div>
                                    <div class="attr">
                                        {{ order.address }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="item">
                                <div class="name">
                                    Recipient
                                </div>
                                <div class="attr">
                                    {{ order.first_name }} {{ order.last_name }}
                                    <span style="font-weight: 700;">{{ order.phone }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="payment-info">
                            <p class="fw-bold fs-5">Payment</p>
                            <div class="item">
                                <div class="name">
                                    Pay method
                                </div>
                                <div class="attr">
                                    {{ order.pay_method }}
                                </div>
                            </div>
                            {% with coupon=order.coupon present_card=order.present_card %}
                                {% if coupon %}
                                    <div class="item">
                                        <div class="name">
                                            Coupon
                                        </div>
                                        <div class="attr">
                                            "{{ coupon.code }}" (-{{ coupon.discount }}%)
                                        </div>
                                    </div>
                                {% endif %}
                                {% if present_card %}
                                    <div class="item">
                                        <div class="name">
                                            Present card
                                        </div>
                                        <div class="attr">
                                            "{{ present_card.code }}" (-${{ present_card.amount }})
                                        </div>
                                    </div>
                                {% endif %}
                            {% endwith %}
                            {% if cost_with_discounts %}
                                <div class="item">
                                    <div class="name">
                                        Discount
                                    </div>
                                    <div class="attr discount">
                                        -$ {{ order.get_total_values.total_discounts }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="item total">
                                <div class="name">
                                    <span style="font-weight: bold;">Total</span>
                                </div>
                                <div class="attr">
                                    {% if cost_with_discounts %}
                                        $ {{ cost_with_discounts }}
                                    {% else %}
                                        $ {{ cost_no_discounts }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    {% endwith %}
    {% empty %}
        <div class="empty-customer-content">
            <h4 class="d-inline">There are no orders yet</h4>
        </div>
    {% endfor %}
    {% if orders.count > 4 %}
        <div class="show-all-orders">Show another {{ orders.count|add:"-4" }} orders</div>
        <div class="hide-another-orders">Hide another {{ orders.count|add:"-4" }} orders</div>
    {% endif %}
</div>