<div class="personal-info">
    <h3>Personal information</h3>
    <div class="info-block">
        <div class="info-row">
            <span class="info-name">Full Name</span>
            <span class="info-value">{{ request.user.get_full_name }}</span>
        </div>
        <div class="info-row">
            <span class="info-name">Gender</span>
            {% with gender=customer.gender %}
                {% if gender == 'M' %}
                    <span class="info-value">Male</span>
                {% else %}
                    <span class="info-value">Female</span>
                {% endif %}
            {% endwith %}
        </div>
        <div class="info-row">
            <span class="info-name">Date of Birth</span>
            <span class="info-value">{{ customer.date_of_birth|date:"d F Y"|default:'---' }}</span>
        </div>
        <div class="info-row">
            <span class="info-name">Phone number</span>
            <span class="info-value">{{ customer.phone_number|default:'---' }}</span>
        </div>
        <div class="info-row">
            <span class="info-name">Email</span>
            <span class="info-value">{{ request.user.email }}</span>
        </div>
        <div class="info-row">
            <span class="info-name">About</span>
            <span class="info-value">{{ customer.about|default:'---' }}</span>
        </div>
    </div>
</div>
