.customer-header {
    padding: 10px;;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
}

.sidebar-customer {
    padding: 0px 10px !important;
    margin-right: 10px;
    background-color: white;
    width: 35% !important;
    border-radius: 5px;
    position: relative;
}

.content-customer {
    padding: 0px 10px !important;
    background-color: white;
    width: 64.2% !important;
    border-radius: 5px;
    position: relative;
}

.brief-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.brief-info img {
    margin: 5px;
    display: inline-block;
}

.brief-info #customer-full-name {
    display: flex;
    align-items: center;
    font-size: 25px;
    margin: 0px 10px;
}

.brief-info .counts {
    font-size: 1em;
    font-style: italic;
    margin-left: 5px;
}

/*Верхнее меню*/
.often-use-menu {
    display: flex;
    padding: 0.5em;
    justify-content: space-around;
}

.often-use-menu ul li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 20px;
    list-style: none;
}

.often-use-menu ul {
    padding-left: 4px;
    margin-bottom: 0px;
    padding: 5px;
}

.often-use-menu a {
    text-decoration: none;
    color: grey;
}

/*sidebar с меню слева*/
.sidebar-item {
    display: flex;
    align-items: center;
    padding: 20px 7px 20px 50px;
    border-bottom: solid 1px #E1E0E0;
    text-align: left;
    font-size: 23px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
}

#logout {
    font-weight: 600;
    position: relative;
    display: block !important;
}

#logout a {
    color: #E18E30;
}


.material-icons, .material-symbols-outlined {
    margin-right: 15px;
}

.sidebar-customer a {
    text-decoration: none;
    color: black;
}

.often-use-menu .counts {
    position: relative;
}

.personal-info {
    padding: 30px;
    margin-top: 2.5rem;
}

.personal-info .info-row {
    padding: 10px;
    display: flex;
}

.info-block {
   padding-right: 180px;
   padding-right: 180px;
   border: 1px solid gainsboro;
   border-radius: 10px;
}

.personal-info .info-name {
    font-size: 20px;
    min-width: 13rem;
    color: #C3B1B1;
}

.personal-info .info-value {
    font-size: 20px;
}

.personal-info h3 {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 800;
}

/*Пункт с заказами*/
.personal-info .order-pk {
    width: 10%;
    font-size: 1.2em;
    font-weight: 600;
    width: 17%;
}

.highlighted-element {
   box-shadow: 1px 1px 10px 0px rgba(36,183,26,1);
}

.personal-info .order-created {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    width: 20%;
}

#order-state {
    width: 15%;
}

#order-state .done {
    color: green;
    font-size: 1.2em;
}

#order-state .not-done {
    color: red;
    font-size: 1.2em;
}

.personal-info [id^="total-cost-"] {
    font-size: 1.2em;
    font-weight: 800;
    width: 17%;
}

.personal-info [id^="items-images-"] {
    padding: 0px 5px !important;
    display: flex;
}

.personal-info [id^="items-images-"] div {
    display: flex;
    align-items: center;
    margin-left: 7px;
}

[id^=expander-] img {
    position: absolute;
    right: 1.2rem;
    bottom: 2.0rem;
    padding: 5px;
}

.expander-header {
    display: flex;
    align-items: center;
    position: relative;
    padding: 1rem 2rem 1rem 1rem !important;
    min-height: 94px;
    min-width: 555px;
}

.product-image {
    display: flex;
    margin: 1.1em;
}

[id^="order-detail-"] {
    padding: 1.1em 0 !important;
}

.add-review {
    position: relative;
    padding-left: 1.6rem;
    margin: 0 2.0rem 0 0.8rem;
}

.add-review a {
    display: flex;
    text-decoration: none;
    color: green;
    font-weight: 700;
    font-size: 1.2rem;
}

.quantity p  {
    margin: 0;
    font-size: 1.2rem;
}

.quantity {
    width: 12%;
}

.product-name {
    display: flex;
    flex-grow: 1;
 }

.product-name a {
    margin: 0;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    flex-shrink: 2;
    flex-grow: 1;
    word-break: break-word;
}

.product-name a:hover {
    text-decoration: underline;
    color: grey;
}

.price {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
    width: 13%;
}

.empty-customer-content {
    font-size: 1.2rem;
    display: block;
    position: absolute;
    top: 50%;
    left: 21%;
}

/*Информация о доставке товара*/
.delivery-info {
    padding: 1.1rem 1.1rem;
    margin: 1rem 0;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
}

.payment-info {
    padding: 1.1rem 1.1rem;
    margin: 1rem 0;
}

.delivery-info .item, .payment-info .item {
    display: flex;
    align-items: center;
    margin-bottom: 1.1rem;
}

.name {
    font-size: 1.2rem;
    color: grey;
    width: 35%;
    font-weight: 500;
    flex-shrink: 0;
}

.attr {
    font-size: 1.2rem;
    width: 70%;
}

.discount { color: red; }

.total {
    background-color:#DFDADA;
    margin-top: 1.8rem;
    padding: 1.3rem 0.5rem 1.3rem 0.5rem;
    border-radius: 15px;
}

.total .attr {
    font-size: 1.5rem;
    font-weight: bold;
}

/*Купоны*/
.coupon-category, .card-category { display: flex; }

.discount-value {
    color: #59D850;
    font-weight: 600;
}

.coupon-code {
    display: block;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.coupon-validation, .card-validation { display: flex; }

.coupon-discount, .card-discount { display: flex; }

.attr-coupons {
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
    width: 40%;
    font-weight: 500;
}

.value-coupons {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}

.valid-code { color: green; }

.invalid-code { color: red; }

.check-position {
    position: absolute;
    right: -17px;
    top: 0;
}

.go-order {
    padding: 3px;
    height: 35px;
    background-color: #7FDC79;
    width: auto;
    border: 1px solid;
    border-radius: 8px;
    font-family: 'Nunito', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
}

[id^='coupon-'] {
    width: auto;
    height: 34px;
    margin-right: 7px;
}

/*Подарочные карты*/
.card-code {
    display: block;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
}

.addit-info-card {
    display: flex;
    margin-bottom: 0.8rem;
    font-family: 'Nunito', sans-serif;
}

.attr-card-addit {
    width: 25%;
}

.value-card-addit {
    width: 75%;
}

.card-message {
    text-align: justify;
    font-weight: 600;
    padding: 10px;
    border-top: 1px solid #D3D7D2;
    border-bottom: 1px solid #D3D7D2;
}

/*Комментарии*/
.comment-body-profile {
    padding: 1rem 2rem 1rem 4rem;
    text-align: justify;
    text-indent: 20px;
}

[id^='comment-'][class^='d-flex'] {
    cursor: pointer;
}

.date-comment-profile {
    left: 0;
    padding: 0;
}

.product-name-profile {
    display: block;
    margin-right: 0.5rem;
    font-family: 'EB Garamond', serif;
    font-size: 0.8rem;
    align-self: center;
}

.product-name-profile a {
    text-decoration: none;
    text-transform: uppercase;
    color: #B7AFAF;
    font-weight: 600;
}

.product-name-profile a:hover {
    text-decoration: underline;
}

.comment-id-profile {
    color: #797979;
    font-size: 0.9rem;
    font-weight: bold;
}

.rate-comment-profile {
    display: inline-block;
    padding: 5px;
    position: relative;
    top: 0;
    left: 80%;
    border-left: solid 1px #dee2e6;
}

.rate-comment-profile div {
    display: inline-block;
    margin-left: 10px;
}

/*Просмотренные товары*/
.product-card-watched {
    position: relative;
    margin: 10px;
    padding: 5px;
    width: 171px;
    //height: 220px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
}

.image-product-watched {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.prod-name-watched {
    display: flex;
    justify-content: center;
    height: 23%;
    width: 100%;
    margin: 0.5rem 0;
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.prod-name-watched a {
    text-decoration: none;
    color: #5E5C5C;
}

.prod-rating-watched {
    display: block;
    text-align: center;
    margin: 5px 0;
}

.prod-price-watched {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
}

.prod-fav-watched {
    position: absolute;
    top: 10px;
    right: 10px;
}

.prod-fav-watched svg {
    fill: red;
    color: red;
}

/*Шаблон отправки email для сброса пароля*/
.email-field {
    width: 250px;
    padding-left: 10px;
    border: 1px solid #898383;
    border-radius: 5px;
}

.block-reset {
    display: block;
    position: relative;
    text-align: start;
    width: 600px;
    padding: 1rem;
    border: 1px solid #ced4da;
    background-color: #eff4f9;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.block-reset form {
    margin: 10px 0;
    display: inline-block;
}

.block-reset p {
    font-family: 'Merriweather', serif;
    font-size: 0.8rem;
    margin-bottom: 0;
}

.send-mail {
	padding: 2px 8px;
	position: absolute;
	display: inline-flex;
	border: 1px solid grey;
	border-radius: 5px;
	background-color: #0BAE21;
	color: white;
	font-family: 'Merriweather', serif;
	font-size: 0.9rem;
	font-weight: bold;
	top: 99px;
	right: 150px;
}

.send-mail:hover { background-color: #3BCA4E; }

.send-mail .material-symbols-outlined { margin-right: 5px;}

/*Шаблон для установки нового пароля после сброса*/
.pass-field {
    border: 1px solid grey;
    border-radius: 5px;
    width: 250px;
    float: right;
    padding-left: 10px;
}

.new-pass-label {
    width: 150px;
}

.block-set-pass {
    padding: 15px 20px;
    width: 470px;
    margin-top: 2rem;
    border: 1px solid #ced4da;
    background-color: #eff4f9;
    border-radius: 10px;
}

.block-set-pass .invalid-link {
    font-family: 'Merriweather', serif;
    text-indent: 20px;
}

.change-pass-btn {
    float: right;
    border: 1px solid green;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #3427E8;
    color: white;
    margin-bottom: 1rem;
}

#set-new-pass-form > label:nth-child(5)

/*список ошибок*/
.set-pass { width: 250px; }

/*элемент списка ошибок*/
.err-pass { text-align: start !important; }

.block-set-success-pass {
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 15px;
    margin: 100px auto;
    width: 500px;
    background-color: #eff4f9;
    display: block;
    text-align: center;
}

.block-set-success-pass p {
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    display: inline;
    margin-bottom: 0;
    margin-right: 15px;
}

.block-set-success-pass a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    border: 1px solid grey;
    padding: 3px 8px;
    border-radius: 5px;
    background-color: #0BAE21;
    margin-left: 15px;
}

.block-set-success-pass a:hover {
    background-color: #23C649;
    color: white;
}

.block-set-success-pass .material-symbols-outlined { margin-right: 5px; }

/*Шаблона email для активации аккаунта*/

/*
.block-email-conf {
	font-size: 1.4rem;
	font-family: font-family: 'Merriweather', serif;
	text-align: center;
	padding: 15px;
	border-bottom: solid 1px #E1E2E1;
}

.block-email-conf img {
	display: inline;
}
.block-email-conf p {
	margin-top: 5px;
}

.block-email-conf > div {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.block-email-conf h2 {
	text-align: center;
	display: inline;
	margin-bottom: 15px;
	margin-top: 0;
}

.block-email-conf p a {
	text-decoration: none;
	color: green;
	text-decoration: underline;
}

.block-email-conf p a:hover {
	color: red;
}

.conf-email {
	font-weight: bold;
	font-style: italic;
}

.username-email {
	font-weight: bold;
	font-style: italic;
}*/
