{% extends 'base.html' %}
{% load static %}

{% block title %}Payment canceled | OnlineShop{% endblock %}
{% block styles %}
    <link href="{% static 'css/payment.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="cancel-payment">
            <a class="payment-go-home" href="{% url 'goods:product_list' %}">
                <span class="material-symbols-outlined">home</span>
                To main page
            </a>
            <h3 class="header-cancel-payment">Payment was canceled!</h3>
            <p>
                Your order <span>№ {{ order_id }}</span>For details about reasons of canceling payment contact to
                <a class="cancel-payment-email-info" href="mailto:info@onlineshop.com"> info@onlineshop.com</a>
                or <a class="cancel-payment-tel-info" href="tel:+380961234567">+38 (096) 123-45-67</a>
            </p>
        </div>
    </div>
{% endblock %}