{% extends 'base.html' %}
{% load static %}

{% block title %}Log-In | OnlineShop{% endblock %}

{% block content %}
<div class="container min-vh-100 d-flex justify-content-center align-items-center">
    <div class="login-form">
        <div class="row">
            <h1 class="text-center mb-4 fw-bold">Log-in</h1>
            <div class="col border-end border-2">
                <div class="d-flex-grid">
                    <form action="{% url 'login' %}" method="post" style="width: 350px;">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-outline form-fields">
                                {% if field.label == 'Remember?' %}
                                    <span class="my-2">{{ field.label_tag }}</span> {{ field }}
                                {% else %}
                                    <label class="my-2" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field }}
                                {% endif %}
                                <ul class="errorlist">
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        {% endfor %}
                        <div class="row justify-content-between">
                            <div class="col mt-2">
                                <input type="hidden" name="next" value="{{ next }}"/>
                                <button type="submit" class="btn btn-primary fs-5">Sign in</button>
                            </div>
                            <div class="col text-center mt-2">
                                <a class="text-decoration-none" style="font-size: 20px;"
                                   href="{% url 'password_reset' %}">Forgot password?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col">
                <div class="social">
                    <ul>
                        <li class="facebook">
                            <a href="#">Login with Facebook</a>
                        </li>
                        <li class="google">
                            <a href="#">Login with Google</a>
                        </li>
                        <li class="twitter">
                            <a href="#">Login with Twitter</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                            <span class="success-message">{{ message }}</span>
                        {% elif message.tags == 'error' %}
                            <span class="error-message">{{ message }}</span>
                        {% endif %}
                    {% endfor %}
                    <a class="close" href="#">x</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
    <script src="{% static 'js/close_messages.js' %}"></script>
{% endblock%}