{% extends 'base.html' %}

{% block title %}Log-In{% endblock %}

{% block content %}
<h1 class="display-3">Log-in</h1>
<form action="{% url 'login' %}" method="post">
    <div class="text-left mb-3">
        <div class="form-outline mb-4">
            {% csrf_token %}
            {{ form.username.label_tag }} {{ form.username }}
            {{ form.password.label_tag }} {{ form.password }}
            {{ form.remember.label_tag }} {{ form.remember }}
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
            <div class="row justify-content-start">
                <div class="col-2">
                    <input type="hidden" name="next" value="{{ next }}"/>
                    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                </div>
                <div class="col-2">
                    <a class="link-dark text-decoration-none" href="{% url 'password_reset' %}">Forgot password?</a>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock%}