{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate 'Set new password' %} | OnlineShop{% endblock %}
{% block styles %}
    <link href="{% static 'css/account.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock %}
{% block content %}
    <div class="container flex-column p-3 d-flex justify-content-center align-items-center">
        <div class="block-set-pass">
            <h3 class="text-center mb-4" style="font-family: 'Merriweather', serif;">{% translate 'Set new password' %}</h3>
            {% if validlink %}
                <form id="set-new-pass-form" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="set-new-pass-fields">
                            <label class="new-pass-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            <span class="material-symbols-outlined">visibility_off</span>
                            <div class="d-flex justify-content-between mt-1">
                                {% if field.help_text %}
                                    <p class="help">{{ field.help_text }}</p>
                                {% endif %}
                                <ul class="errorlist set-pass">
                                    {% for error in field.errors %}
                                        <li class="err-pass">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                    <button type="submit" class="change-pass-btn">{% translate 'Change password' %}</button>
                </form>
            {% else %}
            <p class="invalid-link">
                {% translate 'The password reset link was invalid, possibly because it has already been used. Please request a new password reset.' %}
            </p>
            {% endif %}
        </div>
    </div>
    <script src="{% static 'js/toggle_password_visibility.js' %}"></script>
{% endblock %}