{% extends 'base.html' %}
{% load static %}

{% block title %}Reset password | OnlineShop{% endblock %}
{% block styles %}
    <link href="{% static 'css/account.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container flex-column p-3 d-flex justify-content-center align-items-center">
        <div class="block-set-pass">
            <h3 class="text-center mb-4" style="font-family: 'Merriweather', serif;">Set new password</h3>
            {% if validlink %}
                <form id="set-new-pass-form" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <label class="new-pass-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    <div class="d-flex justify-content-between mt-1">
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text }}</p>
                        {% endif %}
                        <ul class="errorlist set-pass">
                            {% for error in field.errors %}
                                <li class="err-pass">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                    <button type="submit" class="change-pass-btn">Change password</button>
                </form>
            {% else %}
            <p class="invalid-link">The password reset link was invalid, possibly because it has already been used. Please request a new
                password reset
            </p>
            {% endif %}
        </div>
    </div>
{% endblock %}