{% extends 'base.html' %}
{% load static %}

{% block title %}Password reset | OnlineShop{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
{% endblock %}

{% block content %}
    <div class="container flex-column p-3 mt-5 d-flex justify-content-center align-items-center">
        <div class="block-reset">
            <h2 class="mb-3 d-block text-center fs-3 fw-bold" style="font-family: 'Merriweather', serif;">Password reset</h2>
            <p>Enter your e-mail address to obtain a new password</p>
            <form id="reset-pass-form" method="post">
                {% csrf_token %}
                {% for field in form %}
                    {{ field }}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </form>
            <button form="reset-pass-form" type="submit" class="send-mail">
                    <span class="material-symbols-outlined">alternate_email</span>
                    Send e-mail
            </button>
        </div>
            {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="success-message">
                        {{ message }}
                        <span class="material-symbols-outlined">close</span>
                    </div>
                {% elif message.tags == 'error' %}
                    <div class="error-message">
                        {{ message }}
                        <span class="material-symbols-outlined">close</span>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <script src="{% static 'js/close_messages.js' %}"></script>
{% endblock %}