{% extends 'base.html' %}
{% load static %}

{% block title %}Register user | OnlineShop{% endblock %}
{% block styles %}
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center">
    <div class="register-form">
        <h3 class="text-center pb-2 border-bottom" style="font-family: 'Merriweather', serif;">Register user</h3>
        <form id="reg-form" action="{% url 'register_user' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="reg-form-fields">
                    {% if field.label != 'Captcha' %}
                        {% if field.label == 'Photo' %}
                            <label class="reg-label"
                                   for="{{ field.id_for_label }}">{{ field.label }}
                                    {% if field.field.required %}<span class="required-field">*</span>{% endif %}
                            </label>
                            <div class="reg-photo">
                                {{ field }}
                            </div>
                        {% elif field.label == 'Gender' %}
                            <label class="reg-label"
                                   for="{{ field.id_for_label }}">{{ field.label }}
                                    {% if field.field.required %}<span class="required-field">*</span>{% endif %}
                            </label>
                                <!--iteration by radio button values-->
                                <div class="gender-choice">
                                    {% for radio in field %}
                                        <div class="radio-gender">
                                            {{ radio.choice_label }} {{ radio.tag }}
                                        </div>
                                    {% endfor %}
                                </div>
                        {% else %}
                            <label class="reg-label"
                                   for="{{ field.id_for_label }}">{{ field.label }}
                                    {% if field.field.required %}<span class="required-field">*</span>{% endif %}
                            </label>
                            {{ field }}
                            {% if field.label == 'Password' or field.label == 'Confirm password'  %}
                                <span class="material-symbols-outlined">visibility_off</span>
                            {% endif %}
                        {% endif %}
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text }}</p>
                        {% endif %}
                        <ul class="errorlist">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="reg-form-captcha">
                <div class="captcha-image">
                    <img data-url="{% url 'update_captcha' %}"
                         src="data:image/png;base64,{{ captcha_image }}" alt="captcha">
                    <p class="help help-captcha">All letters in lower case. For update the captcha click on the image</p>
                </div>
                {% if form.captcha.field.required %}
                    <span class="required-field captcha-required">*</span>
                {% endif %}
                <div>
                    {{ form.captcha }}
                    <ul class="errorlist">
                        {% for error in form.captcha.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </form>
        <button form="reg-form" type="submit" class="reg-button">
            <span class="material-symbols-outlined">how_to_reg</span>
            Register
        </button>
    </div>
</div>
<script src="{% static 'js/toggle_password_visibility.js' %}"></script>
<script src="{% static 'js/update_captcha.js' %}" type="module"></script>
{% endblock %}