{% extends 'base.html' %}

{% block title %}Register user | OnlineShop{% endblock %}
{% block style %}
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center">
    <div class="register-form">
        <h2 class="text-center pb-2 border-bottom fw-bold">Register user</h2>
        <form id="reg-form" action="{% url 'register_user' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="reg-form-fields">
                    {% if field.label == 'Photo' %}
                        <label class="reg-label"
                               for="{{ field.id_for_label }}">{{ field.label }}
                                {% if field.field.required %}<span class="required-field">*</span>{% endif %}
                        </label>
                        <div class="reg-field reg-photo">
                            {{ field }}
                        </div>
                    {% elif field.label == 'Gender' %}
                        <label class="reg-label"
                               for="{{ field.id_for_label }}">{{ field.label }}
                                {% if field.field.required %}<span class="required-field">*</span>{% endif %}
                        </label>
                            <!--итерация по значениям радио кнопки-->
                            <div class="gender-choice">
                                {% for radio in field %}
                                <div class="radio-gender">
                                    {{ radio.choice_label }} {{ radio.tag }}
                                </div>
                                {% endfor %}
                            </div>
                    {% else %}
                        <label class="reg-label"
                               for="{{ field.id_for_label }}">{{ field.label }}
                                {% if field.field.required %}<span class="required-field">*</span>{% endif %}
                        </label>
                        <div class="reg-field">
                            {{ field }}
                        </div>
                    {% endif %}
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text }}</p>
                    {% endif %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </form>
        <button form="reg-form" type="submit" class="reg-button">Register</button>
    </div>
</div>
{% endblock %}