{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'img/logo.jpg' %}" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    {% block styles %}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
</head>
<body>
    <nav class="navbar navbar-expand-md" id="main-navbar">
        <div class="container-fluid align-items-center" style="justify-content: normal;">
            <a class="navbar-brand" href="{% url 'goods:product_list' %}">
                <img src="{% static 'img/logo.jpg' %}" alt="Intershop" style="width:50px;" class="rounded-pill">
            </a>
            <a class="text-decoration-none" href="{% url 'goods:product_list' %}">
                <div class="shop-name">Online Shop</div>
            </a>
            <!--Список с выпадающими категориями товара-->
            <ul class="dropdwn">
                <li id="main-nav-item">
                    Categories<span class="material-symbols-outlined">arrow_drop_down</span>
                </li>
                <li class="dropdwn-item">
                    <a href="{% url 'goods:product_list' %}">
                        <span class="material-symbols-outlined">dataset</span>
                        All
                    </a>
                </li>
                {% for c in categories %}
                    <li class="dropdwn-item">
                        {% if c.name == 'Mobile phones' %}
                            <a href="{{ c.get_absolute_url }}">
                                <span class="material-symbols-outlined">smartphone</span>
                                {{ c.name }}
                            </a>
                        {% elif c.name == 'Laptops' %}
                            <a href="{{ c.get_absolute_url }}">
                                <span class="material-symbols-outlined">laptop_windows</span>
                                {{ c.name }}
                            </a>
                        {% elif c.name == 'Smart Gadgets' %}
                            <a href="{{ c.get_absolute_url }}">
                                <span class="material-symbols-outlined">devices_other</span>
                                {{ c.name }}
                            </a>
                        {% elif c.name == 'Audio Video' %}
                            <a href="{{ c.get_absolute_url }}">
                                <span class="material-symbols-outlined">"play_circle</span>
                                {{ c.name }}
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <ul class="additional-menu-items">
                <li>
                    <a href="{% url 'delivery_services' %}">Delivery</a>
                </li>
                <li>
                    <a href="{% url 'contacts' %}">Contacts</a>
                </li>
            </ul>
            <!--Форма поиска-->
            <form id="search-form" action="{% url 'goods:product_list' %}" method="get">
                {{ search_form.query }}
                <button role="button" id="search-btn" type="submit">
                    <span class="material-symbols-outlined">search</span>
                    Search
                </button>
            </form>
            <!--Панель с именем пользователя и кнопками регистрации или авторизации-->
            {% if request.user.is_authenticated %}
                <div class="user-panel">
                    <a href="{% url 'customer_detail' request.user.username 'about' %}">
                        {{ request.user.first_name.0 }}
                    </a>
                </div>
            {% else %}
                <div class="authorization" role="toolbar">
                    <a id="login-button" role="button" href="{% url 'login' %}">Sign in</a>
                    <span style="color: white;">|</span>
                    <div class="register">
                        <a id="register-button" href="{% url 'register_user' %}">Register</a>
                    </div>
                </div>
            {% endif %}
            <!--Корзина-->
            <div class="cart-panel">
                <div class="cart-button">
                    <a type="button" href="{% url 'cart:cart_detail' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                             class="bi bi-cart3" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1
                             .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5
                              0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479
                               9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1
                                0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </svg>
                        <div class="amount-cart">
                            {{ cart|length }}
                        </div>
                    </a>
                </div>
                {% with discount_price=cart.get_total_price_with_discounts %}
                    <div class="total-price">
                        {% if cart %}
                            {% if discount_price < 0 %}
                                Free
                            {% else %}
                                ${{ cart.get_total_price_with_discounts }}
                            {% endif %}
                        {% endif %}
                    </div>
                {% endwith %}
            </div>
            <div class="we-in-social">
                <ul>
                    <li>
                        <a href="https://t.me/+38096134567">
                            <img src="{% static 'img/Telegram_logo.svg' %}" width="30" height="30"></a>
                    </li>
                    <li>
                        <a href="https://wa.me/+38096134567">
                            <img src="{% static 'img/whatsapp-icon.png' %}" width="30" height="30"></a>
                    </li>
                    <li>
                        <a href="viber://contact?number %2B38096134567">
                            <img src="{% static 'img/Viber_logo.svg' %}" width="30" height="30"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="footer">
        <section class="footer-info">
            <div class="contacts">
                <h5 class="footer-headers">Phones</h5>
                <ul class="phone-numbers">
                    <li>
                        <div>
                            <img src="{% static 'img/vodafone-logo.svg' %}" height="35" width="35" style="border-radius: 50%;">
                        </div>
                        <div>+38 (099) 123 45 67</div>
                    </li>
                    <li>
                        <div>
                            <img src="{% static 'img/kyivstar-logo.svg' %}" height="35" width="35" style="border-radius: 50%;">
                        </div>
                        <div>+38 (096) 12 345 67</div>
                    </li>
                    <li>
                        <div>
                            <img src="{% static 'img/lifecell-logo.png' %}" height="35" width="35" style="border-radius: 50%;">
                        </div>
                        <div>+38 (093) 123 45 67</div>
                    </li>
                </ul>
            </div>
            <div class="shop-prods-categories">
                <h5 class="footer-headers">Shop categories</h5>
                <ul>
                    {% for c in categories %}
                        <li class="footer-categories">
                            {% if c.name == 'Mobile phones' %}
                                <a href="{{ c.get_absolute_url }}">
                                    <span class="material-symbols-outlined">smartphone</span>
                                    {{ c.name }}
                                </a>
                            {% elif c.name == 'Laptops' %}
                                <a href="{{ c.get_absolute_url }}">
                                    <span class="material-symbols-outlined">laptop_windows</span>
                                    {{ c.name }}
                                </a>
                            {% elif c.name == 'Smart Gadgets' %}
                                <a href="{{ c.get_absolute_url }}">
                                    <span class="material-symbols-outlined">devices_other</span>
                                    {{ c.name }}
                                </a>
                            {% elif c.name == 'Audio Video' %}
                                <a href="{{ c.get_absolute_url }}">
                                    <span class="material-symbols-outlined">play_circle</span>
                                    {{ c.name }}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="other-info">
                <div class="email">
                    <h5 class="footer-headers">Emails</h5>
                    <ul>
                        <li>
                            <div>info@onlineshop.com</div>
                        </li>
                        <li>
                            <div>cooperation@onlineshop.com</div>
                        </li>
                        <li>
                            <div>sales@onlineshop.com</div>
                        </li>
                    </ul>
                </div>
                <div class="copyright">
                    ©2023 Online Shop. All rights reserved. Used only for development.
                </div>
            </div>
        </section>
    </footer>
    <script src="{% static 'js/add_to_cart.js' %}"></script>
    <script src="{% static 'js/main_dropdown.js' %}"></script>
    <script src="{% static 'js/change_cart_pointer_events.js' %}"></script>
</body>
</html>