{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body class="d-flex flex-column min-vh-100">

<div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'goods:product_list' %}">
        <img src="{% static 'img/logo.jpg' %}" alt="Intershop" style="width:50px;" class="rounded-pill">
      </a>
      <ul class="navbar-nav me-5">
        {% for c in categories %}
        <li class="nav-item">
          <a {% if category.slug == c.slug %}
             class="nav-link active"
             {% else %}
             class="nav-link"
             {% endif %}
             href="{{ c.get_absolute_url }}" >{{ c.name }}
          </a>
        </li>
        {% endfor %}
      </ul>
        {% if request.user.is_authenticated %}
        <div class="d-flex align-items-center">
            <div class="p-1">
                <p class="lead text-white fs-6 mb-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1
                         0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29
                          0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                    </svg>
                    Hello, {{ request.user.first_name }}
                </p>
            </div>
            <div class="p-1">
                <a class="btn btn-info btn-sm" role="button" href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center">
            <div class="p-1 border border-primary rounded p-2">
                <a class="text-decoration-none" type="button" href="{% url 'cart:cart_detail' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                        <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                    {% if cart %}
                        {{ cart.get_amount_items_in }}
                    {% else %}
                        0
                    {% endif %}
                </a>
                <div class="d-inline">
                    Cart
                </div>
            </div>
            <div class="p-1">
                {% if cart %}
                    ${{ cart.get_total_price_with_discounts}}
                {% endif %}
            </div>
        </div>
        {% else %}
          <div class="btn-toolbar" role="toolbar">
              <a class="btn btn-info btn-sm me-2" role="button" href="{% url 'login' %}">Sign in</a>
              <a class="btn btn-success btn-sm" role="button" href="{% url 'register_user' %}">Sign up</a>
          </div>
        {% endif %}
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
</div>
    <footer class="bg-dark text-center text-white mt-auto">
        <div class="container p-4 pb-0">
            <section class="mb-4">
                Online Shop
            </section>
        </div>
        <div class="text-center p-3" style="background-color: rgba(255, 255, 255, 0.25);">
            © 2023 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
    </footer>
</body>
</html>