{% load i18n %}
{% load get_value_from_dict %}
<!--Menu to select a filter on the left side of the product list page of a specific category-->

<!--Filters-->
<div class="filter-header">
    <span class="material-symbols-outlined">filter_alt</span>
    {% translate 'Filters' %}
</div>
<form id="filters-form" method="get" action="{% url 'goods:filter_results_list' category.slug page_obj.number %}">
    <!--By price-->
    <div class="title-filters">
        <div>{% translate 'Price' %}</div>
        <span class="material-symbols-outlined">expand_less</span>
    </div>
    <div class="filter-items">
        <div class="d-flex justify-content-between align-items-center">
            <div class="adjust-min-price">
                <span class="material-symbols-outlined">arrow_drop_up</span>
                <span class="material-symbols-outlined">arrow_drop_down</span>
            </div>
            <span class="price-min-filter">{{ filter_price.price_min }}</span>
            <span class="price-max-filter">{{ filter_price.price_max }}</span>
            <div class="adjust-max-price">
                <span class="material-symbols-outlined">arrow_drop_up</span>
                <span class="material-symbols-outlined">arrow_drop_down</span>
            </div>
        </div>
    </div>
    <!--By manufacturer-->
    <div class="title-filters">
        <div>{% translate 'Brand' %}</div>
        <span class="material-symbols-outlined">expand_less</span>
    </div>
    <div class="filter-items">
        {% for checkbox in filter_manufacturers.manufacturer %}
            <div class="form-check-filter">
                <div class="form-field-filter">{{ checkbox.tag }}</div>
                <label class="form-label-filter" for="{{ checkbox.id_for_label }}">{{ checkbox.choice_label }}</label>
                <div class="count-items-filter">({{ manufacturers_prod_qnty|get_dict_item:checkbox.choice_label }})</div>
            </div>
        {% endfor %}
    </div>
    <!--By properties-->
    <div class="title-filters">
        <div>{% translate 'Properties' %}</div>
        <span class="material-symbols-outlined">expand_less</span>
    </div>
    <!--Menu with properties for selected product category-->
    {% include 'filter_properties.html' with properties=category_properties %}
</form>
<div class="filter-buttons">
    <button form="filters-form" class="filter-apply-btn" type="submit">
        <span class="material-symbols-outlined">filter_alt</span>
        {% translate 'Apply' %}
    </button>
    <button form="filters-form" class="filter-reset-btn" type="reset">
        <span class="material-symbols-outlined">restart_alt</span>
        {% translate 'Reset' %}
    </button>
</div>