{% load split_full_path %}

<ul class="pagination mt-2 mb-3">
    <!--If there are previous page-->
    {% if page_obj.has_previous %}
        <li class="page-item">
            {% if sorting %}
                {% if place == 'mainlist' or place == 'popular' or place == 'new' or place == 'promotion' %}
                    <a class="page-link" href="{% url 'goods:product_ordering' place category.slug|default:'all' page_obj.previous_page_number %}?sort={{ request.GET.sort }}" tabindex="-1" aria-disabled="true">
                        <span class="material-symbols-outlined">arrow_back_ios</span>
                    </a>
                {% endif %}
            {% else %}
                {% if place == 'mainlist' %}
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">
                        <span class="material-symbols-outlined">arrow_back_ios</span>
                    </a>
                {% elif place == 'filter_list' %}
                    <a class="page-link" href="{% url 'goods:filter_results_list' category.slug page_obj.previous_page_number %}{{ request|split:1 }}" tabindex="-1" aria-disabled="true">
                        <span class="material-symbols-outlined">arrow_back_ios</span>
                    </a>
                {% elif place == 'promotion' or place == 'new' or place == 'popular' %}
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">
                        <span class="material-symbols-outlined">arrow_back_ios</span>
                    </a>
                {% endif %}
            {% endif %}
        </li>
    {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="">
                <span class="material-symbols-outlined">arrow_back_ios</span>
            </a>
        </li>
    {% endif %}
    <!--Iterate over all existing pages numbers-->
    {% for p in page_obj.paginator.page_range %}
        {% if page_obj.number == p %}   <!--if is the current page display it as active-->
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="">{{ p }}</a>
            </li>
        {% elif p >= page_obj.number|add:-3 and p <= page_obj.number|add:3 %}
            <li class="page-item">
                {% if sorting %}
                    <a class="page-link" href="{% url 'goods:product_ordering' place category.slug|default:'all' p %}?sort={{ request.GET.sort }}" tabindex="-1" aria-disabled="true">{{ p }}</a>
                {% else %}
                    {% if place == 'mainlist' %}
                        <a class="page-link" href="?page={{ p }}" tabindex="-1" aria-disabled="true">{{ p }}</a>
                    {% elif place == 'promotion' or place == 'new' or place == 'popular' %}
                        <a class="page-link" href="?page={{ p }}" tabindex="-1" aria-disabled="true">{{ p }}</a>
                    {% endif %}
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
    <!--If there are next page-->
    {% if page_obj.has_next %}
        <li class="page-item">
            {% if sorting %}
                {% if place == 'mainlist' or place == 'popular' or place == 'new' or place == 'promotion' %}
                    <a class="page-link" href="{% url 'goods:product_ordering' place category.slug|default:'all' page_obj.next_page_number %}?sort={{ request.GET.sort }}" tabindex="-1" aria-disabled="true">
                        <span class="material-symbols-outlined">arrow_forward_ios</span>
                    </a>
                {% endif %}
            {% else %}
                {% if place == 'mainlist' %}
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" tabindex="-1" aria-disabled="true">
                        <span class="material-symbols-outlined">arrow_forward_ios</span>
                    </a>
                {% elif place == 'filter_list' %}
                    <a class="page-link" href="{% url 'goods:filter_results_list' category.slug page_obj.next_page_number %}{{ request|split:1 }}" tabindex="-1" aria-disabled="true">
                        <span class="material-symbols-outlined">arrow_forward_ios</span>
                    </a>
                {% elif place == 'promotion' or place == 'new' or place == 'popular' %}
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" tabindex="-1" aria-disabled="true">
                        <span class="material-symbols-outlined">arrow_forward_ios</span>
                    </a>
                {% endif %}
            {% endif %}
        </li>
    {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="">
                <span class="material-symbols-outlined">arrow_forward_ios</span>
            </a>
        </li>
    {% endif %}
</ul>


