<!--Вкладки со ссылками вверху над списком товаров-->
<ul class="nav nav-justified justify-content-center prod-navs"
    data-domain="{{ request.site.domain }}"
    data-secure="{{ request.is_secure }}">
    <li class="nav-item">
        <a class="nav-link" style="border-left: 0 !important;" href="{% url 'goods:product_list' %}">
            <span class="material-symbols-outlined">dataset</span>
            All
        </a>
    </li>
    {% if category and place == 'mainlist' or place == 'filter_list' %}
        <li class="nav-item">
            <a class="nav-link" id="filters-prod">
                <span class="material-symbols-outlined">filter_alt</span>
                Filter
            </a>
        </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link"
           href="{% if category %}{% url 'goods:popular_list_by_category' category.slug %}{% else %}{% url 'goods:popular_list' %}{% endif %}">
            <span class="material-symbols-outlined">local_fire_department</span>
            Popular
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
           href="{% if category %}{% url 'goods:new_list_by_category' category.slug %}{% else %}{% url 'goods:new_list' %}{% endif %}">
            <span class="material-symbols-outlined">acute</span>
            New
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="border-right: 0 !important;"
           href="{% if category %}{% url 'goods:promotion_list_by_category' category.slug %}{% else %}{% url 'goods:promotion_list' %}{% endif %}">
            <span class="material-symbols-outlined">sell</span>
            Promotion
        </a>
    </li>
</ul>